
/* Login, Register, Profile Linkbar */
.connect_usertoolbar                                            { width:217px; float:right;}
.connect_usertoolbar ul                                         { margin: 12px 0 0 0; padding:0;}
.connect_usertoolbar ul li                                      { list-style-type: none; float:left;background: #000; margin: 0 3px 0 0; border: 1px solid #333;}
.connect_usertoolbar li.userName                                { width: 170px;display: block;}
li.userRegister a                                               { line-height: 35px; color: #fff; font-size: 14px; text-decoration: none; padding: 8px 20px 8px 32px; background-image: url(images/user.png); background-position: 5px center; background-repeat: no-repeat;}
li.userLogin a                                                  { line-height: 35px; color: #fff; font-size: 14px; text-decoration: none; padding: 8px 20px 8px 32px; background-image: url(images/padlock.png); background-position: 5px center; background-repeat: no-repeat;}
li.userProfile a                                                { line-height: 35px; color: #fff; font-size: 14px; text-decoration: none; padding: 0; }
li.userName a                                                   { line-height: 36px; color: #fff; font-size: 14px; text-decoration: none; padding: 7px 20px 7px 34px; background-image: url(images/user.png); background-position: 5px center; background-repeat: no-repeat;}
.connect_usertoolbar ul li a:hover                              { background-color: #BD5200;}                             
.connect_usertoolbar ul li .userProfileImg  img                 { padding: 1px; background: #333; border: 1px solid #000;}
.connect_usertoolbar ul ul                                      { display: none;}
.connect_usertoolbar ul li.userName, 
.connect_usertoolbar ul li.userProfile                          { margin-right: 0;}
.connect_usertoolbar ul li.userName                             { border-right: none;}
.connect_usertoolbar li.userName li                             { width: 170px; border: none;}
.connect_usertoolbar li.userName li a                           { background-image: none; padding-left: 10px; border: none; display: block; padding: 1px 20px 1px 34px; background-color: #BD5200;}
.connect_usertoolbar li.userName li a:hover                     { background-color: #472929;}
.connect_usertoolbar li.userName li.userNotifications a span    { color: #eac103;}

/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}
.sf-menu li, li.userName {
	position: relative; z-index:99;
}
.sf-menu ul, li.userName ul {
	position: absolute;
	display: none;
	top: 100%;
	left: 0;
	z-index: 99;
}
.sf-menu > li, li.userName > li {
	float: left;
}
.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul,
li.userName:hover > ul {
	display: block;
}

.sf-menu a {
	display: block;
	position: relative;
}
.sf-menu ul ul {
	top: 0;
	left: 100%;
}


/*** DEMO SKIN ***/
.sf-menu {
	float: left;
	margin-top: 10px;
}
.sf-menu ul {
	min-width: 12em; /* allow long menu items to determine submenu width */
	*width: 12em; /* no auto sub width for IE7, see white-space comment below */
}
.sf-menu a, .sf-menu a:link, .sf-menu a:active, .sf-menu a:visited {
	padding: 7px 0px 7px 25px;
	text-decoration: none;
	zoom: 1; /* IE7 */
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	font-family: arial, Sans-Serif;
}
.sf-menu a:hover {}
.sf-menu li{
	white-space: nowrap; /* no need for Supersubs plugin */
	*white-space: normal; /* ...unless you support IE7 (let it wrap) */
	-webkit-transition: background .2s;
	transition: background .2s;
	width: 135px;
	margin: 2px;
	padding: 2px 0 2px 0;
    z-index: 999;
}
.sf-menu ul li {
	background: #BD5200;
	margin: 0;
}
.sf-menu ul {
top: 36px;
}
li.userName ul {top:22px;}
.sf-menu ul ul li {
	background: #9AAEDB;
}
.sf-menu li:hover,
.sf-menu li.sfHover,
li.userName:hover 
{
    background: #BD5200;
	/* only transition out, not in */
	-webkit-transition: none;
	transition: none;
}

.sf-menu li:hover a, li.userName:hover a {color: #472929;}
.sf-menu li:hover li a, li.userName:hover li a {color: #fff;}
.sf-menu li li:hover,
.sf-menu li li.sfHover {
	background: #472929;
	/* only transition out, not in */
	-webkit-transition: none;
	transition: none;
}

/*** arrows (for all except IE7) **/
.sf-arrows .sf-with-ul {
	padding-right: 2.5em;
	*padding-right: 1em; /* no CSS arrows for IE7 (lack pseudo-elements) */
}
/* styling for both css and generated arrows */
.sf-arrows .sf-with-ul:after {
	content: '';
	position: absolute;
	top: 50%;
	right: 1em;
	margin-top: -3px;
	height: 0;
	width: 0;
	/* order of following 3 rules important for fallbacks to work */
	border: 5px solid transparent;
	border-top-color: #dFeEFF; /* edit this to suit design (no rgba in IE8) */
	border-top-color: rgba(255,255,255,.5);
}
.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
	border-top-color: white; /* IE8 fallback colour */
}
/* styling for right-facing arrows */
.sf-arrows ul .sf-with-ul:after {
	margin-top: -5px;
	margin-right: -3px;
	border-color: transparent;
	border-left-color: #dFeEFF; /* edit this to suit design (no rgba in IE8) */
	border-left-color: rgba(255,255,255,.5);
}
.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
	border-left-color: white;
}