.content				{width: 904px;}
.tile_content           { width: 904px; margin: 0 0 0 2px; background: #ddd; padding: 0 0 30px 0; min-height: 240px;}
.tile_content50           { width: 410px; margin: 0 0 0 2px; background: #ddd; padding: 0 40px 30px 0; min-height: 240px; float:left;}
.dnnFilterSet, .community_intro   {background: #38A9FF; margin: 0;}
.dnnTableFilter {margin: 0;}
.dnnFilterSet h3    {color: #fff;}
.dnnFilterSet .moduleSearch a {cursor: pointer; cursor: hand; color: #fff;} 
.GroupViewTop   {background: #38A9FF; margin: 0; padding: 20px 20px 40px 20px;}
.GroupViewTop a {color: #fff;}
.community_intro    {padding: 35px; margin-bottom: 6px; height: 232px;}
.community_intro p  {font-size: 18px; color: #fff; line-height: 26px; margin: 0 0 30px 0;}
.community_intro a  {font-size: 18px; color: #eee; text-decoration: underline;}
.community_intro a:hover    {color: #333;}
.community_intro p.ack {float:left; display: block; text-indent: -99999px; background: url(images/ack.png) -15px -60px no-repeat; height: 210px; width: 300px;padding:0; margin:0 0 10px 0;}
/* Social Module Overrides */

.journalitem p {
    margin: 5px 0;
}

.twittertile	{ padding: 10px;}
/*.twittertile iframe	{width: 800px !important;}*/
.status-compact-container .status-profile-container,
.status-compact-container .points-completion-panel,
.status-compact-container .primary-collections,
.status-compact-container .collections,
.status-bottom-controls,
.status-compact-container .secondary-collections                                        {background: transparent; border:none;}
.status-compact-container .status-profile-container             {padding: 16px 16px 12px 20px;}


.status-compact-container a            {color: #34609D;}
.status-compact-container a:hover      {color: #eee;}

.status-compact-container .status-profile-container a {color: #eee; text-decoration: underline;}
.status-compact-container .status-profile-container a.dnnSocialLink,
.status-compact-container .status-profile-container a.dnnSocialLink:visited,  
.status-compact-container .status-profile-container a.dnnSocialLink span {color: #34609D; text-decoration: none;}
.status-compact-container .status-profile-container a.dnnSocialLink:hover,
.status-compact-container .status-profile-container a:hover {color: #34609D;}
.status-compact-container .points-completion-panel  {background: transparent; border: none;}


.moduleShadowBox    {border:none;}
.status-container * a.notification-icon, .status-container * a.info-icon {width: 30px; height: 30px; border: 1px solid #ccc; text-decoration: none;}
.status-container * a.notification-icon {background:#38A9FF url(images/mail-icon.png) left center no-repeat;}
.status-container * a.info-icon {background:#38A9FF url(images/info-icon.png) left center no-repeat;}

.status-container * a.info-icon {margin-left: 5px;}
.status-container .notification-count a, .status-container .notification-count a:visited {text-decoration: none !important;}
.status-collection a, a.dnnSocialLink, .points a, .dnnSocialTabs a { cursor: pointer; cursor: hand;  }
.dnnSocialTabs a, .dnnSocialTabs a:visited { text-decoration: none;}
.status-compact-container, .relatedcontent-detail-container {background: inherit;}
.status-compact-container h6, .relatedcontent-detail-container h6 {color:#fff;}
.color3 a.dnnSocialLink, .color6 a.dnnSocialLink, .color7 a.dnnSocialLink {color: #fff;}
.color3 a.dnnSocialLink:hover, .color6 a.dnnSocialLink:hover, .color7 a.dnnSocialLink:hover{color: #333;}
.moduleShadowBox {box-shadow: inherit;-moz-box-shadow: inherit;}

.moduleSubscribe                                        { padding: 0; margin:0; height: 100px; width:300px;}
.moduleSubscribe h6                                     { display:none;}
.moduleSubscribe a                                      { display: block; height: 98px; border-bottom: 2px solid #fff; background: #FF3845 url(images/mail-icon-large.png) 20px center no-repeat; color: #fff !important; line-height: 100px; font-size: 16px; text-decoration:none; padding: 0 0 0 50px; text-align:center;}
.moduleSubscribe a.dnnUnsubscribeModule                 { display: block; height: 98px; border-bottom: 2px solid #fff; background: #FF3845 url(images/mail-icon-large-active.png) 20px center no-repeat; color: #fff !important; line-height: 100px; font-size: 16px; text-decoration:none; padding: 0 0 0 50px; text-align:center;}

.tile_content, .tile_content50   {background: transparent;}
.answer-list-container,
.idea-list-container  {margin-top:6px;}

/* profile pages */
.status-expanded-container .profile-topContainer {
    
    background-color: #0093C3; /* fallback */
    background-repeat: repeat-x;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#34609D), to(#0093C3)); /* Safari 4-5, Chrome 1-9 */
    background: -webkit-linear-gradient(top, #34609D, #0093C3); /* Safari 5.1, Chrome 10+ */
    background: -ms-linear-gradient(top, #34609D, #0093C3); /* IE 10 */
    background: -o-linear-gradient(top, #34609D, #0093C3); /* Opera 11.10+ */    
    background: -moz-linear-gradient(center top , #34609D, #0093C3) repeat scroll 0 0 transparent;
    border-bottom: none;
    padding: 20px 20px 15px 165px;
}
.status-expanded-container .profile-bottomContainer {
    background-color: #0093C3;
    min-height: 45px;
    padding: 15px 15px 15px 165px;
}

.status-expanded-container .profile-bottomContainer > .dnnLeft > .profile-address {background-color: transparent; background-image: none; padding-left: 0;}
.status-container .biography-wide {
    color: #fff;
    max-width: 400px !important;
    width: 400px !important;
}
.status-expanded-container .profile-bottomContainer > .dnnRight > p.profile-description {display: none;}
.status-expanded-container.profileContainer > .profile-avator {border: 2px solid #999;}

.status-expanded-container .profile-topContainer > .dnnLeft > a.dnnSocialLink.profile-link {color: #fff;}
.dashboard-about { padding: 15px; background: #eee;}
.dashboard-about-properties {margin-top: 24px;padding: 15px; background: #eee;}
.dashboard-profile-activity {
    margin-top: 45px;
    padding: 15px; background: #eee;
}
.dashboard-biography {color: #444; margin: 10px 0 0 0 ;}
.dashboard-about-property > .value {
    clear: none;
    color: #333;
    display: inline-block;
    font-size: 10pt;
    font-weight: normal;
    margin-top: 8px;
}

.status-expanded-container ul.user-external-sociallinks {
    display: inline-block;
    margin: 0 0 0 10px;
    padding: 0;
    list-style-type: none;
    vertical-align: top;
}

    .status-expanded-container ul.user-external-sociallinks > li {
        display: block;
        float: left;
        padding-top: 0px;
        margin-right: 5px;
        border: 1px solid #c9c9c9;
    }

        .status-expanded-container ul.user-external-sociallinks > li > a {
            display: block;
            width: 30px;
            height: 30px;
            background-repeat: no-repeat;
            background-position: center;
            background-color: #fff;
        }

            .status-expanded-container ul.user-external-sociallinks > li > a.external-sociallink-twitter {
                background-image: url(images/twitter.png);
            }

            .status-expanded-container ul.user-external-sociallinks > li > a.external-sociallink-facebook {
                background-image: url(images/facebook.png);
            }

            .status-expanded-container ul.user-external-sociallinks > li > a.external-sociallink-linkedin {
                background-image: url(images/linkedin.png);
            }

            .status-expanded-container ul.user-external-sociallinks > li > a.external-sociallink-googleplus {
                background-image: url(images/googleplus.png);
            }
            
/* Button Group */
ul.dnnButtonGroup {
    display: inline-block;
    margin: 0;
    padding: 0;
    background: #fff;
    background: -moz-linear-gradient(top, #fff 0%, #f0f2f1 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#f0f2f1)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fff 0%,#f0f2f1 100%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(top, #fff 0%,#f0f2f1 100%); /* W3C */
    -webkit-border-radius: 3px;
    border-radius: 0px;
    -webkit-box-shadow: 0px 1px 0px 0px #bbb;
    box-shadow: 0px 0px 0px 0px #bbb;
    border: 1px solid #c9c9c9;
    cursor: pointer;
    list-style: none;
}            

a.icnDiscussions			{ background: #c74000 url(images/metro/icnDiscussions.png) 15px 5px no-repeat;}
a.icnDiscussions:hover		{ color: #333;}

a.icnEvents					{ background: #ffc500 url(images/metro/icnEvents.png) 15px 5px no-repeat;}
a.icnEvents:hover			{ color: #333;}

a.icnGroups					{ background: #00a8ec url(images/metro/icnGroups.png) 15px 5px no-repeat;}
a.icnGroups:hover			{ color: #333;}

a.icnBlogs					{ background: #008d44 url(images/metro/icnBlogs.png) 15px 5px no-repeat;}
a.icnBlogs:hover			{ color: #333;}

a.icnAnswers                { background: #98c739 url(images/metro/icnAnswers.png) 15px 5px no-repeat;}
a.icnAnswers:hover          { color: #333;}

a.icnKickstart              { background: #68217a url(images/metro/icnKickstart.png) 15px 5px no-repeat;}
a.icnKickstart:hover        { color: #333;}

a.icnTranslations           { background: #ff0084 url(images/metro/icnTranslations.png) 15px 5px no-repeat;}
a.icnTranslations:hover     { color: #333;}

a.icnMembers				{ background: #d68a3a url(images/metro/icnMembers.png) 15px 5px no-repeat;}
a.icnMembers:hover			{ color: #333;}

.communityintro {background: #004878; margin: 2px 0 2px 0; padding: 30px 0px 30px 0px;}

.journalrow div.author img {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 0;
    padding: 1px;
    width: 40px;
}