.skinWidth {width: 1212px;}
.content				{width: 908px;margin-right:2px}
.tile_content           { width: 100%; margin: 0 0 0 0px; background: #ddd; padding: 0 0 30px 0; min-height: 240px;}
.tile_content50           { width: 410px; margin: 0 0 0 2px; background: #ddd; padding: 0 40px 30px 0; min-height: 240px; float:left;}
.dnnFilterSet, .community_intro   {background: #38A9FF; margin: 0;}
.dnnTableFilter {margin: 0;}
.dnnFilterSet h3    {color: #fff;}
.dnnFilterSet .moduleSearch a {cursor: pointer; cursor: hand; color: #fff;} 
.GroupViewTop   {background: #38A9FF; margin: 0 2px 0 0; padding: 20px 20px 40px 20px;}
.GroupViewTop a {color: #fff;}
.community_intro    {padding: 35px; margin-bottom: 6px; height: 230px;}
.community_intro p  {font-size: 18px; color: #fff; line-height: 26px; margin: 0 0 30px 0;}
.community_intro a  {font-size: 18px; color: #eee; text-decoration: underline;}
.community_intro a:hover    {color: #333;}
.community_intro p.ack {float:left; display: block; text-indent: -99999px; background: url(images/ack.png) -15px -70px no-repeat; height: 150px; width: 300px;padding:0; margin:0 0 10px 0;}
/* Social Module Overrides */

.journalitem p {
    margin: 5px 0;
}

.twittertile	{ padding: 10px;}
.twittertile iframe	{width: 800px !important;}
.status-compact-container .status-profile-container,
.status-compact-container .points-completion-panel,
.status-compact-container .primary-collections,
.status-compact-container .collections,
.status-bottom-controls,
.status-compact-container .secondary-collections                                        {background: transparent; border:none;}
.status-compact-container .status-profile-container             {padding: 16px 16px 12px 20px;}


.status-compact-container a            {color: #34609D;}
.status-compact-container a:hover      {color: #eee;}

.status-compact-container .status-profile-container a {color: #eee; text-decoration: underline;}
.status-compact-container .status-profile-container a.dnnSocialLink,
.status-compact-container .status-profile-container a.dnnSocialLink:visited,  
.status-compact-container .status-profile-container a.dnnSocialLink span {color: #34609D; text-decoration: none;}
.status-compact-container .status-profile-container a.dnnSocialLink:hover,
.status-compact-container .status-profile-container a:hover {color: #34609D;}
.status-compact-container .points-completion-panel  {background: transparent; border: none;}


.moduleShadowBox    {border:none;}
.status-container * a.notification-icon, .status-container * a.info-icon {width: 30px; height: 30px; border: 1px solid #ccc; text-decoration: none;}
.status-container * a.notification-icon {background:#38A9FF url(images/mail-icon.png) left center no-repeat;}
.status-container * a.info-icon {background:#38A9FF url(images/info-icon.png) left center no-repeat;}

.status-container * a.info-icon {margin-left: 5px;}
.status-container .notification-count a, .status-container .notification-count a:visited {text-decoration: none !important;}
.status-collection a, a.dnnSocialLink, .points a, .dnnSocialTabs a { cursor: pointer; cursor: hand;  }
.dnnSocialTabs a, .dnnSocialTabs a:visited { text-decoration: none;}
.status-compact-container, .relatedcontent-detail-container {background: inherit;}
.status-compact-container h6, .relatedcontent-detail-container h6 {color:#fff;}
.color3 a.dnnSocialLink, .color6 a.dnnSocialLink, .color7 a.dnnSocialLink {color: #fff;}
.color3 a.dnnSocialLink:hover, .color6 a.dnnSocialLink:hover, .color7 a.dnnSocialLink:hover{color: #333;}
.moduleShadowBox {box-shadow: inherit;-moz-box-shadow: inherit;}

.moduleSubscribe                                        { padding: 0; margin:0; height: 100px; width:300px;}
.moduleSubscribe h6                                     { display:none;}
.moduleSubscribe a                                      { display: block; height: 98px; border-bottom: 2px solid #fff; background: #FF3845 url(images/mail-icon-large.png) 20px center no-repeat; color: #fff !important; line-height: 100px; font-size: 16px; text-decoration:none; padding: 0 0 0 50px; text-align:center;}
.moduleSubscribe a.dnnUnsubscribeModule                 { display: block; height: 98px; border-bottom: 2px solid #fff; background: #FF3845 url(images/mail-icon-large-active.png) 20px center no-repeat; color: #fff !important; line-height: 100px; font-size: 16px; text-decoration:none; padding: 0 0 0 50px; text-align:center;}

.tile_content, .tile_content50   {background: transparent;}
.answer-list-container,
.idea-list-container  {margin-top:6px;}

/* profile pages */
.status-expanded-container .profile-topContainer {
    
    background-color: #0093C3; /* fallback */
    background-repeat: repeat-x;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#34609D), to(#0093C3)); /* Safari 4-5, Chrome 1-9 */
    background: -webkit-linear-gradient(top, #34609D, #0093C3); /* Safari 5.1, Chrome 10+ */
    background: -ms-linear-gradient(top, #34609D, #0093C3); /* IE 10 */
    background: -o-linear-gradient(top, #34609D, #0093C3); /* Opera 11.10+ */    
    background: -moz-linear-gradient(center top , #34609D, #0093C3) repeat scroll 0 0 transparent;
    border-bottom: none;
    padding: 20px 20px 15px 165px;
}
.status-expanded-container .profile-bottomContainer {
    background-color: #0093C3;
    min-height: 45px;
    padding: 15px 15px 15px 165px;
}

.status-expanded-container .profile-bottomContainer > .dnnLeft > .profile-address {background-color: transparent; background-image: none; padding-left: 0;}
.status-container .biography-wide {
    color: #fff;
    max-width: 400px !important;
    width: 400px !important;
}
.status-expanded-container .profile-bottomContainer > .dnnRight > p.profile-description {display: none;}
.status-expanded-container.profileContainer > .profile-avator {border: 2px solid #999;}

.status-expanded-container .profile-topContainer > .dnnLeft > a.dnnSocialLink.profile-link {color: #fff;}
.dashboard-about { padding: 15px; background: #eee;}
.dashboard-about-properties {margin-top: 24px;padding: 15px; background: #eee;}
.dashboard-profile-activity {
    margin-top: 45px;
    padding: 15px; background: #eee;
}
.dashboard-biography {color: #444; margin: 10px 0 0 0 ;}
.dashboard-about-property > .value {
    clear: none;
    color: #333;
    display: inline-block;
    font-size: 10pt;
    font-weight: normal;
    margin-top: 8px;
}

.status-expanded-container ul.user-external-sociallinks {
    display: inline-block;
    margin: 0 0 0 10px;
    padding: 0;
    list-style-type: none;
    vertical-align: top;
}

    .status-expanded-container ul.user-external-sociallinks > li {
        display: block;
        float: left;
        padding-top: 0px;
        margin-right: 5px;
        border: 1px solid #c9c9c9;
    }

        .status-expanded-container ul.user-external-sociallinks > li > a {
            display: block;
            width: 30px;
            height: 30px;
            background-repeat: no-repeat;
            background-position: center;
            background-color: #fff;
        }

            .status-expanded-container ul.user-external-sociallinks > li > a.external-sociallink-twitter {
                background-image: url(images/twitter.png);
            }

            .status-expanded-container ul.user-external-sociallinks > li > a.external-sociallink-facebook {
                background-image: url(images/facebook.png);
            }

            .status-expanded-container ul.user-external-sociallinks > li > a.external-sociallink-linkedin {
                background-image: url(images/linkedin.png);
            }

            .status-expanded-container ul.user-external-sociallinks > li > a.external-sociallink-googleplus {
                background-image: url(images/googleplus.png);
            }
            
/* Button Group */
ul.dnnButtonGroup {
    display: inline-block;
    margin: 0;
    padding: 0;
    background: #fff;
    background: -moz-linear-gradient(top, #fff 0%, #f0f2f1 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#f0f2f1)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fff 0%,#f0f2f1 100%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(top, #fff 0%,#f0f2f1 100%); /* W3C */
    -webkit-border-radius: 3px;
    border-radius: 0px;
    -webkit-box-shadow: 0px 1px 0px 0px #bbb;
    box-shadow: 0px 0px 0px 0px #bbb;
    border: 1px solid #c9c9c9;
    cursor: pointer;
    list-style: none;
}            

.marginright				{margin-right: 2px !important;}
div.connect_communitylinks a {float:left;display:block; height: 30px; width:149px; padding: 120px 0 0 0; margin: 0 0 2px 0px; color: #fff; font-size: 24px; text-decoration: none; text-align: center;}

a.icnDiscussions			{ background-image: url(images/icndiscussions.png); background-position: center center; background-repeat: no-repeat; display:block; height: 30px; width:150px; padding: 120px 0 0 0; color: #fff; font-size: 24px; text-decoration: none; text-align: center;}
a.icnDiscussions:hover		{ color: #333;}

a.icnEvents					{ background-image: url(images/icnevents.png); background-position: center center; background-repeat: no-repeat; display:block; height: 30px; width:150px; padding: 120px 0 0 0; color: #fff; font-size: 24px; text-decoration: none; text-align: center;}
a.icnEvents:hover			{ color: #333;}

a.icnGroups					{ background-image: url(images/icngroups.png); background-position: center center; background-repeat: no-repeat; display:block; height: 30px; width:150px; padding: 120px 0 0 0; color: #fff; font-size: 24px; text-decoration: none; text-align: center;}
a.icnGroups:hover			{ color: #333;}

a.icnBlogs					{ background-image: url(images/icnblogs.png); background-position: center center; background-repeat: no-repeat; display:block; height: 30px; width:150px; padding: 120px 0 0 0; color: #fff; font-size: 24px; text-decoration: none; text-align: center;}
a.icnBlogs:hover			{ color: #333;}

a.icnAnswers                { background-image: url(images/icnanswers.png); background-position: center center; background-repeat: no-repeat; display:block; height: 30px; width:150px; padding: 120px 0 0 0; color: #fff; font-size: 24px; text-decoration: none; text-align: center;}
a.lnkAnswers:hover          { color: #333;}

a.icnKickstart              { background-image: url(images/icnBulb.png); background-position: center center; background-repeat: no-repeat; display:block; height: 30px; width:150px; padding: 120px 0 0 0; color: #fff; font-size: 24px; text-decoration: none; text-align: center;}
a.icnKickstart:hover        { color: #333;}



a.icnDiscussions			{ background: #c74000 url(images/metro/icnDiscussions.png) 15px 5px no-repeat;}
a.icnDiscussions:hover		{ color: #333;}

a.icnEvents					{ background: #ffc500 url(images/metro/icnEvents.png) 15px 5px no-repeat;}
a.icnEvents:hover			{ color: #333;}

a.icnGroups					{ background: #00a8ec url(images/metro/icnGroups.png) 15px 5px no-repeat;}
a.icnGroups:hover			{ color: #333;}

a.icnBlogs					{ background: #008d44 url(images/metro/icnBlogs.png) 15px 5px no-repeat;}
a.icnBlogs:hover			{ color: #333;}

a.icnAnswers                { background: #98c739 url(images/metro/icnAnswers.png) 15px 5px no-repeat;}
a.icnAnswers:hover          { color: #333;}

a.icnKickstart              { background: #68217a url(images/metro/icnKickstart.png) 15px 5px no-repeat;}
a.icnKickstart:hover        { color: #333;}

a.icnTranslations           { background: #ff0084 url(images/metro/icnTranslations.png) 15px 5px no-repeat;}
a.icnTranslations:hover     { color: #333;}

a.icnMembers				{ background: #d68a3a url(images/metro/icnMembers.png) 15px 5px no-repeat;}
a.icnMembers:hover			{ color: #333;}
.af-tiles {width: 100%; overflow: hidden;}
.tile-af	{ float:left; width: 422px; background: #c46437 url(images/Metro/icnDiscussions.png) 0px 10px no-repeat; margin: 0px 2px 2px 0; height: 203px; padding: 25px 15px 25px 15px;}

.ct-forumname	{display: block; margin: 20px 0 0 120px;}
.ct-forumname a { color: #fefefe; font-size: 20px; font-weight: bold; text-decoration: none;}
p.af-description {margin: 10px 0 0 120px; color: #fff;}
.tile-af ul {margin: 10px 0 0 120px; padding: 0;}
.tile-af ul li {list-style-type:none; color: #fff; background: url(images/metro/icnStats.png) 0px 0px no-repeat; padding: 0 0 0 20px;}
.af-lastpost {margin: 30px 0 0 10px; background: url(images/metro/icnInfo.png) 0px 0px no-repeat; padding: 0 0 0 30px; color: #555;}
.af-lastpost a {color: #fff; text-decoration: underline;}

.aftoolbarpanel {
    background-color: #D68A3A;
    border: 0px;
    margin: 2px 2px 2px 0;
	padding: 10px;
	width: auto;
}
.aftoolbarpanel ul.af-list-flat li a, .aftoolbarpanel ul.af-list-flat li a:link, .aftoolbarpanel ul.af-list-flat li a:visited, .aftoolbarpanel ul.af-list-flat li a:active, .aftoolbarpanel ul.af-list-flat li a:hover {
    color: #fff;
    padding-left: 2px;
    padding-right: 2px;
	text-decoration: none;
}
.aftb-search .aftb-search-link span {
    color: #fff;
    cursor: pointer;
}

.afcontainer	{}
.af-topic .af-head-top	{padding: 20px 0 0 0;}
.af-title		{float:left; width: 70%; padding: 30px 0 20px 0px;}
.af-topic .af-title		{float:left; width: 100%; padding: 10px 0 0px 0px;}
.af-pager-top	{float:right; width: 20%; padding: 40px 20px 0 0; font-size: 18px; text-align:right;}
.af-title, .af-title a		{font-family: 'novecento_widedemibold', Arial, sans-serif; font-size: 36px; line-height:1.3; color: #028BFF; text-decoration: none;}
.af-tools-top	{ padding: 10px 0 30px 0;}
.af-postlink	{float:left; width: 30%; padding: 0 0 0 0px;}
.af-markread	{float:right; width: 60%; text-align:right; padding: 10px 20px 10px 0;}
.af-markread .afnormal {
    color: #333;
    font-family: Arial,Verdana;
    font-size: 14px;
}
.amtbwrapper a.dnnPrimaryAction, .af-postlink a.dnnPrimaryAction, .af-lefttool a.dnnPrimaryAction {
    background: #c74000 url(images/Metro/icnPost.png) 5px 12px no-repeat;
    border: none;
    box-shadow: none;
    color: #EFEFEF;
    text-shadow: 0 -1px 0 #a53805;
	border-radius: 0px;
	padding: 10px 10px 11px 35px;
	margin-left: 0px;
}
.af-lefttool a.dnnPrimaryAction:hover, .af-postlink a.dnnPrimaryAction:hover {text-decoration: none; color: #333;}

.af-posticon {float:left; width: 5%;}
.af-topicarea {float:left; width: 45%;}
.af-topicstatusarea {float:left; width: 25%;}
.af-topicadminarea {float:left; width: 25%;}
.af-topiclink {padding: 0 0 10px 0;}
.af-topiclink a {font-size: 16px;}
.af-topicdetails, .af-topicdetails-lastpost {font-size: 13px; color: #555;}
.af-topicdetails a, .af-topicdetails-lastpost a {font-size: 13px; color: #000; text-decoration: none;}
.afpagermini, .afpagermini a {font-size: 13px; color: #555 !important; text-decoration: none !important;}
.afpagermini img {margin: -2px 5px 0 5px;}


ul.af-topiclist {margin:0 0 0 0px; padding: 0;}
ul.af-topiclist li	{margin: 0 20px 20px 0; padding: 15px; background: #fff; border: 1px solid #dedede;}

td.afgrouprow {
    background-color: #00A8EC;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
}




.af-lefttool {float:left; width: 70%;}
.af-righttool {float:right; width: 25%; text-align: right; padding-right: 20px;}
.af-rating-status	{float:left;}
.af-sort {
    float: right;
    margin-top: 10px;
}
.af-righttool table.afpager {
    background-color: #c74000;
    border: 1px solid #ffffff;
    margin: -1px 0 0 0;
    padding-top: 0;
	float:right;
	
}
.af-righttool table.afpager td {padding: 12px;color: #fff; font-size: 12px; font-family: verdana; white-space: nowrap;}
td.af_currentpage {background-color: #98C739;color: #fff; font-size: 12px; font-family: verdana;}
td.af_pagernumber {background-color: #00A8EC;}
td.af_pagernumber a {color: #fff; font-size: 12px; text-decoration: none; font-family: verdana;}

.af-crumb {clear:both; margin-top: 0px;}
.af-quickreply, #afgrid {margin: 0 20px 0 0;}
#groupQR {padding-top: 20px;}
#afgrid .afeditor	{width: 100%; margin-top: 20px;}
.af-search-bar, .af-search-results {margin-right: 20px;}
#afcontainer .af-search-bar {background-color: #00A8EC;}

.dnnMemberDirectory .mdSearch {
    border-bottom: 0px solid #DDDDDD;
    margin-bottom: 2px;
    padding: 0;
    position: relative;
    z-index: 1;
}

.Connect-ModuleSearchBar, .mdSearch {
    background: none repeat scroll 0 0 #38A9FF;
    margin: 0 2px 0 0;
    height: 150px;
}
.searchWrapper {float:left;}
.Connect-SearchBarHeading  h1, .mdSearchBar h1 {
    color: #FFFFFF;
    padding: 20px 0 20px 40px;
    font-family: 'novecento_widedemibold',Arial,sans-serif;
    font-size: 30px;
    line-height: 1.3;
}
.Connect-SearchBarInput, .searchWrapper {margin: 0 0 0 40px;}
.Connect-SearchBarInput input[type="text"], .searchWrapper input[type="text"] {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    float: left;
    margin: 0;
    padding: 9px;
    width: 500px;
}
.Connect-SearchBarInput a.dnnPrimaryAction {
    background: #c74000 url(images/Metro/icnSearchSmall.png) 10px 9px no-repeat;
    border: none;
    box-shadow: none;
    color: #EFEFEF;
    text-shadow: 0 -1px 0 #a53805;
	border-radius: 0px;
	padding: 10px 6px 11px 25px;
	margin-left: 10px;
}

.mdSearchBar  a.dnnPrimaryAction {
    background: #c74000 url(images/Metro/icnSearchSmall.png) 10px 9px no-repeat;
    border: none;
    box-shadow: none;
    color: #EFEFEF;
    text-shadow: 0 -1px 0 #a53805;
	border-radius: 0px;
	padding: 10px 6px 11px 25px;
	margin-left: 10px;
}
.Connect-SearchBarInput a.dnnPrimaryAction:hover {color: #333;}
.connectdir_searchformbutton {
    float: right;
}

.DnnModule #mdMemberList {
    display: inline-block;
    padding: 0;
    position: relative;
    z-index: 1;
	margin:0;
}

#mdMemberList > li {
    background: none repeat scroll 0 0 #D68A3A;
    border: 0px solid #CBCBCB;
    border-radius: 0px;
    box-shadow: none;
    float: left;
    height: 90px;
    list-style: none outside none;
    margin: 0 2px 2px 0;
    padding: 15px 15px 45px;
    position: relative;
    transition: background 0.15s ease-in-out 0s;
    width: 272px;
    z-index: 1;
}
/* Override for Profile page */
.ConnectMemberActions #mdMemberList > li {
    background: none repeat scroll 0 0 transparent;
    border: 0px solid #CBCBCB;
    border-radius: 0px;
    box-shadow: none;
    float: none;
    height: 230px;
    list-style: none outside none;
    margin: 0 0px 0px 0;
    padding: 35px 15px 35px 15px;
    position: relative;
    transition: background 0.15s ease-in-out 0s;
    width: 270px;
    z-index: 1;
}
.ConnectMemberActions li li {list-style-type: none; padding: 2px 0 0 26px;}
.ConnectMemberActions li li a, .ConnectMemberActions li li a span {color: #fff; font-size: 16px !important; text-decoration: none; line-height: 30px; font-family: 'novecento_widedemibold',Arial,sans-serif;}
.ConnectMemberActions li li a:hover, .ConnectMemberActions li li a:hover span		{color: #333;}
#mdMemberList > li:hover {
    background: none repeat scroll 0 0 #a15607;
    box-shadow: none;
    z-index: 2;
}
#mdMemberList .mdMemberTitle {color: #fff; text-decoration: none;}
#mdMemberList p {color: #000;}
.mdMemberDetails .mdMemberImg {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 0px;
    display: block;
    float: left;
    height: auto;
    margin: 0 15px 15px 0;
    min-width: 50px;
    padding: 1px;
}
.mdMemberDetails .mdHoverActions {
    background: none #a15607;
    border-top: 1px solid #fefefe;
    bottom: 0;
    clear: both;
    font-size: 11px;
    height: 32px;
    left: 0;
    position: absolute;
    text-shadow: 0 1px 0 #FFFFFF;
    width: 100%;
}
.DnnModule .mdMemberDetails ul, .mdMemberDetails li {
    color: #fff;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.mdHoverActions a{ color: #fff; text-shadow: none; text-decoration:none;}
.mdHoverActions a:hover	{color: #555;}
.mdMemberDetails .mdHoverActions li a{
    display: block;
    font-size: 11px;
    min-height: 12px;
    min-width: 35px;
	padding: 8px 7px;
}
.mdMemberDetails .mdHoverActions li a.ComposeMessage {padding: 10px 7px;}
.mdMemberDetails .mdHoverActions li p {margin: 0; padding: 8px;}
.mdMemberDetails .mdHoverActions p span {text-shadow: none; color: #ccc;}
/* Trasnlation module */
div.specificLocale	{background: #FF0084; padding: 10px;}
.ModDNNEuropeModulesLocalizationEditorC {margin: 0 2px 0 0;}
div.genericLocale {
    border-bottom: 0px dotted #666666;
    display: block;
    font-size: large;
    font-weight: 700;
    margin: 40px 0 5px;
    padding-bottom: 4px;
    width: 100%;
}

#dnn_ctr440_Blog_ctlManagement_pnlManagement { padding: 15px 0 15px 0;}