.content				                            { width: 908px; }
.tile_content                                       { width: 100%; margin: 0; padding: 0; min-height: 240px; }
.tile_content50                                     { width: 410px; margin: 0 0 0 2px; padding: 0 40px 30px 0; min-height: 240px; float:left; } 



/* Colored Bar at the top of most pages (text and/ or search) */
.Connect-ModuleSearchBar, .mdSearch,               
.connect-content-head                               { height: 150px; margin: 0 2px 0 0; padding: 0;}
.GroupViewTop                                       { min-height: 150px; margin: 0 2px 0 0; padding: 0;}
.searchWrapper                                      { float:left; }
.Connect-SearchBarInput, .searchWrapper             { margin: 0 0 0 40px; }
.Connect-SearchBarInput input[type="text"], 
.searchWrapper input[type="text"]                   { background-color: #FFFFFF; border: 1px solid #CCCCCC;float: left;margin: 0;padding: 9px;width:80%;}
.Connect-SearchBarHeading h1, .mdSearchBar h1,
.connect-content-head h1                            { padding: 20px 0 20px 40px; }
.Connect-SearchBarHeading input[type="submit"]      { padding:10px 20px 11px 35px;} /*used on directory page*/
.Connect-SearchBarHeading input[type="submit"],
.Connect-SearchBarInput a.dnnPrimaryAction,
.mdSearchBar  a.dnnPrimaryAction                    { font-size: 16px; border: none; box-shadow: none; text-shadow: none; border-radius: 0px; padding: 8px 6px 10px 25px; margin-left: 10px; }

.dnnMemberDirectory .mdSearch                       { margin: 0 2px 2px 0; border-bottom: 0px solid #DDDDDD;padding: 0;position: relative;z-index: 1;}

/* Journal Module */

#journalItems                                       { padding: 20px 0 0 0; }
#journalItems .journalitem p                        { margin: 0px 0; padding: 0 0 10px 0;}
#journalItems .journalitem i                        { color: #666;}

/* Memberlist Module */

.DnnModule #mdMemberList                            { display: inline-block;padding: 0;position: relative;z-index: 1;margin:0; }
#mdMemberList > li                                  { width: 195px;height: 90px;margin: 0 2px 2px 0;padding: 15px 15px 45px;border: 0px solid #CBCBCB;border-radius: 0px;box-shadow: none;float: left;list-style: none outside none;position: relative;transition: background 0.15s ease-in-out 0s;z-index: 1; }
#mdMemberList > li:hover                            { box-shadow: none; z-index: 2; }
.mdMemberDetails .mdMemberImg                       { background: none repeat scroll 0 0 #FFFFFF;border: 1px solid #DDDDDD;border-radius: 0px;display: block;float: left;height: auto;margin: 0 15px 15px 0;min-width: 50px;padding: 1px; }
.mdMemberDetails .mdHoverActions                    { border-top: 1px solid #fefefe;bottom: 0;clear: both;font-size: 11px;height: 32px;left: 0;position: absolute;text-shadow: 0 1px 0 #FFFFFF;width: 100%;}
.DnnModule .mdMemberDetails ul, .mdMemberDetails li { color: #fff;list-style: none outside none;margin: 0;padding: 0; }
.mdMemberDetails .mdHoverActions li a               { display: block;font-size: 11px;min-height: 12px;min-width: 35px;padding: 8px 7px; }
    .mdMemberDetails .mdHoverActions li a span {
        font-size: 11px;
    }
.mdMemberDetails .mdHoverActions li a.ComposeMessage {padding: 10px 7px; }
.mdMemberDetails .mdHoverActions li p               { margin: 0; padding: 8px; }
.mdMemberDetails .mdHoverActions p span             { text-shadow: none; color: #ccc; }
.members #mdMemberList .mdMemberTitle span               { font-size: 14px; }
.mdMemberDetails .MdMemberInfo li span                     { font-size: 12px; }

/* Override for Profile page (used to contact / friend a member there */
.ConnectMemberActions #mdMemberList > li            { width: 270px; padding: 35px 15px 35px 15px;margin: 0 0px 0px 0;height: 230px; border: 0px solid #CBCBCB;border-radius: 0px;box-shadow: none;float: none;list-style: none outside none;position: relative;transition: background 0.15s ease-in-out 0s; z-index: 1; }
.ConnectMemberActions li li                         { list-style-type: none; padding: 2px 0 0 26px;}
.ConnectMemberActions li li a, 
.ConnectMemberActions li li a span                  { color: #fff; font-size: 16px !important; text-decoration: none; line-height: 30px; font-family: 'novecento_widedemibold',Arial,sans-serif; }
.ConnectMemberActions li li a:hover, 
.ConnectMemberActions li li a:hover span		    { color: #333; }


/* Translation Module */
div.specificLocale	                                { padding: 10px; }
.ModDNNEuropeModulesLocalizationEditorC             { margin: 0 2px 0 0; }
div.genericLocale                                   { border-bottom: 0px dotted #666666;display: block;font-size: large;font-weight: 700; margin: 40px 0 5px;padding-bottom: 4px;width: 100%; }


.postcontentholder li a {
    font-size: 16px;
}

/* Forum Module */

.tile-af	                                        { float:left; width: 422px; }
ul.af-topiclist li	                                { margin: 0 20px 20px 0; padding: 15px; }
td.afgrouprow                                       { font-size: 12px; font-weight: bold; }
.afcontainer	                                    { }
.af-tiles                                           { width: 100%; overflow: hidden; }
.tile-af	                                        { float:left; width: 422px; margin: 0px 2px 2px 0; height: 203px; padding: 21px 15px 21px 15px;}
.ct-forumname	                                    { display: block; margin: 20px 0 0 120px; }
.ct-forumname a                                     { font-size: 20px; font-weight: bold; text-decoration: none; }
.af-description                                     { margin: 10px 0 0 120px; padding:0;}
.tile-af ul                                         { margin: 10px 0 0 120px; padding: 0; }
.tile-af ul li                                      { list-style-type:none; padding: 0 0 0 20px; }
.af-lastpost                                        { margin: 30px 0 0 10px; background: url(images/metro/icnInfo.png) 0px 0px no-repeat; padding: 0 0 0 30px; color: #555; }
.af-lastpost a                                      { text-decoration: underline; }
.aftoolbarpanel                                     { border: 0px;margin: 2px 2px 2px 0;padding: 10px;width: auto; }
.aftoolbarpanel ul.af-list-flat li a, 
.aftoolbarpanel ul.af-list-flat li a:link, 
.aftoolbarpanel ul.af-list-flat li a:visited, 
.aftoolbarpanel ul.af-list-flat li a:active, 
.aftoolbarpanel ul.af-list-flat li a:hover          { padding-left: 2px;padding-right: 2px;text-decoration: none; }
.aftb-search .aftb-search-link span                 { cursor: pointer; }
.af-topic .af-head-top	                            { padding: 20px 0 0 0;}
.af-title		                                    { float:left; width: 70%; padding: 30px 0 20px 0px;}
.af-topic .af-title		                            { float:left; width: 100%; padding: 10px 0 0px 0px;}
.af-pager-top	                                    { float:right; width: 20%; padding: 40px 20px 0 0; font-size: 18px; text-align:right;}
.af-title, .af-title a		                        { font-family: 'novecento_widedemibold', Arial, sans-serif; font-size: 36px; line-height:1.3; text-decoration: none; }
.af-tools-top	                                    { padding: 10px 0 30px 0;}
.af-postlink	                                    { float:left; width: 30%; padding: 0 0 0 0px;}
.af-markread	                                    { float:right; width: 60%; text-align:right; padding: 10px 20px 10px 0;}
.af-markread .afnormal                              { color: #333; font-family: Arial,Verdana; font-size: 14px; }
.af-posticon                                        { float:left; width: 5%; }
.af-topicarea                                       { float:left; width: 45%; }
.af-topicstatusarea                                 { float:left; width: 25%; }
.af-topicadminarea                                  { float:left; width: 25%; }
.af-topiclink                                       { padding: 0 0 10px 0; }
.af-topiclink a                                     { font-size: 16px; }
.af-topicdetails, .af-topicdetails-lastpost         { font-size: 13px; color: #555; }
.af-topicdetails a, .af-topicdetails-lastpost a     { font-size: 13px; color: #000; text-decoration: none; }
.afpagermini, .afpagermini a                        { font-size: 13px; color: #555 !important; text-decoration: none !important; }
.afpagermini img                                    { margin: -2px 5px 0 5px; }
ul.af-topiclist                                     { margin:0 0 0 0px; padding: 0; }
ul.af-topiclist li	                                { margin: 0 20px 20px 0; padding: 15px; border: 1px solid #dedede; }
td.afgrouprow                                       { color: #FFFFFF;font-size: 12px; font-weight: bold; }
.af-lefttool                                        { float:left; width: 70%; }
.af-righttool                                       { float:right; width: 25%; text-align: right; padding-right: 20px; }
.af-rating-status	                                { float:left; }
.af-sort                                            { float: right;margin-top: 10px; }
.af-righttool table.afpager                         { background-color: #c74000;border: 1px solid #ffffff;margin: -1px 0 0 0;padding-top: 0;float:right; }
.af-righttool table.afpager td                      { padding: 12px;color: #fff; font-size: 12px; font-family: verdana; white-space: nowrap; }
td.af_currentpage                                   { background-color: #98C739;color: #fff; font-size: 12px; font-family: verdana; }
td.af_pagernumber                                   { background-color: #00A8EC; }
td.af_pagernumber a                                 { color: #fff; font-size: 12px; text-decoration: none; font-family: verdana; }
.af-crumb                                           { clear:both; margin-top: 0px; }
.af-quickreply, #afgrid                             { margin: 0 20px 0 0; }
#groupQR                                            { padding-top: 20px; }
#afgrid .afeditor	                                { width: 100%; margin-top: 20px; }
.af-search-bar, .af-search-results                  { margin-right: 20px; }

/* Directory Module */

.connectdir_item                                    { padding: 20px; background: #eee; margin: 0 0 20px 0; border: 1px solid #ddd;}
.connectdir_logo                                    { float:left; margin: 0 30px 0 0; width: 250px;}
.connectdir_logo img                                { padding: 3px; background: #fefefe; border: 1px solid #ccc;}
.connectdir_properties                              { float:left; width: 500px;}
.connectdir_properties td                           { vertical-align: top; padding: 0 20px 0 0;}
.connectdir_areas ul                                { padding: 0; margin: 0;}
.connectdir_areas ul li                             { list-style-type: none; padding: 0; margin: 0 10px 0 0; float:left;}
.connectdir_areasdetail ul                          { margin: 30px 0 30px 0;}
.connectdir_areasdetail ul li                       { list-style-type: none; padding: 10px 0 0 30px; background: url(images/grant.gif) left 10px no-repeat;}
.connectdir_logo table                              { margin: 10px 0 20px 0;}
.connectdir_logo td                                 { padding: 0 20px 0 0;}

.connectdir_nav                                     { margin: 0; padding:0;}
.connectdir_nav li                                  { list-style-type: none;}
.connectdir_nav li a                                { display: block; padding: 0 0 0 30px;font-size: 16px;color: #fff; line-height: 40px; height: inherit; border-top: none; text-decoration: none;}
.connectdir_nav li a:hover                          { background-color: #BD5200;}
.connectdir_nav li a.active                         { background-color: #BD5200; color: #333;}

.connectdir_search                                  { padding: 30px;}
.connectdir_search span                             { display: block; padding: 10px 0 5px 0;}
.connectdir_search table span                       { display: inline; padding:0;}
.connectdir_searchbutton                            { padding: 20px 0 20px 0;}

/* Groups Module */ 

.groups .dnnForm.dnnGroupDirectory              { margin: 0; padding: 0; width: auto; }
.groups .dgdGroupQuickInfoWrap,
.groups .Connect_GroupIntro                     { margin: 2px 2px 0 0; height: 150px; padding: 0; border: none; }
.groups .Connect_GroupIntro  p                  { float:left; padding: 25px 0 17px 40px; margin:0; width: 60% }
.groups .Connect_GroupIntro  div                { float: right; margin: 30px 30px 0 0; }
.groups a.CreateGroup                           { display: none;}
.groups .dgdAvatar                              { margin: 20px 3% 0 3%; border-radius: 0px; }
.groups .dgdGroupQuickInfo                      { width: 70%; }
.groups .dgdGroupQuickInfo h3                   { margin: 0;padding: 20px 0 5px 0; }
.groups .dgdGroupQuickInfo p                    { padding: 0 0 0 0;}

.GroupViewTop .dgdAvatar                 { margin: 30px 0 0 30px;}
.GroupViewTop .GroupViewHeader           { padding: 20px 0 0 150px; }


/*account form textarea override */
.connect_accountform .dnnFormItem textarea          { height: 378px !important;}

/* Profile editing */
/*Photo */
.connect_profile_preview                            { display: block; height: 300px;}
.connect_profile_preview img                        { width: 300px; height: 300px;}
.connect_profile_edit                               { display:none;}
.connect_profiledit.password                        { height: 270px;padding: 30px 0 0 30px;}
#connectEditContainerPhoto                          { padding: 20px 0 20px 20px; background: #fff;}
#connectEditContainerPhoto .dnnFileUploadScope      { background: #fff; width: inherit;}
#connectEditContainerPhoto .dnnLeft                 { clear:both;}

/* password */
span.label                                          { display: block; color: #fff; font-size: 14px; line-height: 35px;}
#showEditPassword                                   { background: url(images/lock_large.png) -30px -30px no-repeat; font-size: 40px; color: #fff; text-decoration: none; vertical-align:bottom; padding: 210px 30px 50px 30px; display: block;}
#connectEditContainerPassword .dnnFormItem input    { width: 90%;}

/* common profile */
#connectEditContainerProfile p                      { font-weight: bold; padding: 12px 40px 50px 20px;}
#connectEditContainerProfile select                 { width: 45%;}

/* dnn console module */
.sidebar .console                                   { width: 100%;height: inherit;background-color: transparent;-moz-box-shadow: 0 0 0 #bbb;-webkit-box-shadow: 0 0 0 #bbb;box-shadow: 0 0 0 #bbb;padding: 0;}
.sidebar .console .console-none                     { margin: 0;padding: 0; height: 40px;}
.sidebar .console .console-none h3                  { border-left: none ;margin: 0;padding: 0 0 0 60px;font-size: 16px;color: #fff; line-height: 40px; height: inherit; border-top: none;}
.sidebar .console .console-none h3:first-child      { border-top: none;}
.sidebar .console div                               { width: auto;display: block;float: none;}
.sidebar .console .console-mouseon                  { background-color: #BD5200;}
.sidebar .console .active h3                        { border-left: none; color: #333; background: url(images/marker.png) 20px 8px no-repeat;}

/* Q&A */
.answers .tag-menu                                  { border-bottom: 1px solid #00ABA9;border-radius: 0px;border-right: 1px solid #00ABA9;color: #F1F1F1;display: block;font-weight: normal;line-height: 1.4;max-width: 30em;overflow: hidden;padding: 0.8em 1em;position: absolute;text-align: left;text-shadow: none;width: 275px;z-index: 25; }
.answers .qaQuestion .answers.multiple              { border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;color: #FFFFFF;text-shadow: none; }
.answers .qaHome:after,
.answers .dnnqaTagList:after,
.answers .qaBrowse:after,
.answers .dnnqaQuestion:after,
.answers #dnn_ctr428_Dispatch_Question_divAddAnswer:after,
.answers #dnn_ctr428_Dispatch_Question_divAddAnswer .dnnFormItem:after,
.answers .qaSubscriptions:after,
.answers .qaPrivilege:after                         { content: ".";display: block;height: 0;clear: both;visibility: hidden;}.clearfix {display: inline-block;}/* Hides from IE-mac \*/ * html .clearfix { height: 1%;}.clearfix {display: block;}/* End hide from IE-mac */
.answers .qaHome, 
.answers .qaPrivilege, 
.answers .qaBadges, 
.answers .qaBadge, 
.answers .qaBrowse, 
.answers .dnnqaQuestion,
.answers .dnnqaTagList, 
.answers .qaSubscriptions, 
.answers .qaAskQuestion                             { padding: 30px; width: auto !important;}
.answers .qaContent                                 { width: 60%;}
.answers .qaSideList                                { width: 30%;}
.answers .qaQuestion .votes span, 
.answers .qaQuestion .answers span, 
.answers .qaQuestion .views span                    { display: block;font-size: 9px;padding: 0 0px;text-align: center; }
.answers .qaQuestion span.count                     { display: block;float: none;font-size: 165% !important;font-weight: bold;text-align: center; }
.answers ul.myDashboardNumbers,
.answers .qaSideList .plActions                     { margin: 0 0 30px 0;}
.answers .dnnqaQuestion h1                          { font-size: 30px;} 
.answers input.qaAskQuestion                        { width: 100% !important; max-width: 500px !important; margin-left: 0 !important;}
.answers a.tag                                      { border-radius: 0px;bottom: auto;font-size: 14px;margin: 2px 2px 6px 0;padding: 4px 8px 6px 8px;text-shadow: none;text-transform: lowercase; color: #333; text-decoration: none; }
.answers h2.dnnFormSectionHead,
.answers h3                                         { border-bottom: none;font-size: 24px; letter-spacing: 0em; line-height: 30px; margin: 0; padding: 0 0 20px 0; }
.answers .qaUserScore                               { border: 1px solid #CCCCCC;border-radius: 0px;color: #fff;font-size: 40px;margin: 0;padding: 5px 15px 5px 15px;width: 204px; }
.answers p.qaUserPrivilegeScore                     { margin: 0; padding: 20px 0 20px 0;}
.answers .qaNav                                     { margin: 2px 2px 0 0; padding: 0 0 30px 0; }
.answers .qaSearch                                  { display: none;}
.answers .qaNavItems                                { border-radius: 0px; margin: 0;}
.answers .qaAskQuestionLink                         { margin: 30px 25px 0 0;}
.answers div.qaQuestion                             { margin: 0 0 40px 0; }


/* members area */
.GroupViewTop h3 {
    color: #FFFFFF;
    padding: 30px;
    font-size: 30px;
    line-height: 2.5em;
    margin: 0 !important;
}

