.clearfix:after         { content: ".";display: block;height: 0;clear: both;visibility: hidden;}.clearfix {display: inline-block;}/* Hides from IE-mac \*/ * html .clearfix { height: 1%;}.clearfix {display: block;}/* End hide from IE-mac */
p, h1, h2, h3, h4, h5   { margin: 0; padding: 0;}




html, body, *, .Normal,
a, a:link, a:active, 
a:visited, div, p { font-family: 'Muli', sans-serif; font-size: 18px; line-height: 1.5em;}

h1                      { font-family: 'novecento_widedemibold', Arial, sans-serif; font-size: 36px; line-height:1.3; }
.white h1               { padding: 20px 0 30px 0;}
h2                      { font-family: 'novecento_widedemibold', Arial, sans-serif; font-size: 28px; line-height:1.3; }
.white h2               { padding: 20px 0 30px 0;}
h3, .dnnFilterSet h3    { font-family: 'novecento_widedemibold', Arial, sans-serif; font-size: 20px; line-height:1.3; }
.white h3               { padding: 20px 0 30px 0;}
h4                      { font-family: 'novecento_widedemibold', Arial, sans-serif; font-size: 18px; line-height:1.3; letter-spacing: 0.1em}
.white h4               { padding: 20px 0 30px 0;}
strong, .strong         { font-weight: bold;}
p                       { margin: 0; padding: 0 0 25px 0;}
.splash h1              { margin: 57px 30px 60px 55px; width: 80%;}
* a, a                  { cursor: pointer !important; cursor: hand !important; }
/* basic setup */

.skinWidth                                                      { width: 1208px; margin: 20px auto;}

/* toolbar at the top */
.connect-toolbar                                                { width: 100%; margin: 0; height: 60px;}
.connect-toolbar[data-useragent*='MSIE 10.0']                   { width: 100%; margin: 0; height: 56px}

/* navigation bar */
.connect_nav                                                    { width: 695px; float:right;}

/* logo */
.connect_logo                                                   { width: 200px; height: 36px; overflow: hidden; float:left;margin: 12px;}

/* tiles setup */
.tile                   { min-height: 300px;}
.tile_900_900           { width: 902px; min-height: 904px; margin: 0 0 0 2px;}
.tile_900_600           { width: 902px; min-height: 602px; margin: 0 0 0 2px;}
.tile_600_600           { width: 604px; height: 602px; margin: 0 2px 2px 0;}
.tile_300_300           { width: 300px; height: 300px; margin: 0 2px 2px 0;}
.tile_301_300           { width: 301px; height: 300px; margin: 0 2px 2px 0;}
.tile_600_300           { width: 602px; height: 300px; margin: 0 2px 2px 0;}
.tile_606_300           { width: 606px; height: 300px; margin: 0 2px 2px 0;}
.tile_300               { width: 300px; margin: 0 0 2px 0;}
.tile_400_600			{ width: 360px; margin: 2px 6px 0 13px; height: 600px; overflow: hidden; padding: 10px;}
.tile_bar               { width: 100%; margin: 0; padding: 0; min-height: initial;}
.tile_content           { width: 100%; margin: 0; padding: 0; min-height: 240px; }

.tile_content           { float:left;}
.tile_side              { float:right;}
.tile.DNNEmptyPane      { display: none;height:0px;width:0px;line-height:0;margin:0;padding:0;}
.tile_end               { margin-right:0 !important;}
.margin2                { margin: 2px 2px 0 0; border: 1px solid #fff; padding: 30px; }

/* overrides panes */
.admin .tile_content    { width:100%;padding:30px 0; }

/*home page tiles */
.home .tile             { float:left; }

/* panes setup */
.contentPane            { padding: 40px 0 0 0; margin: 20px 0 0 0;}

div.connect_communitylinks a                        { font-family: 'Roboto'; line-height: 0.3em; float:left;display:block; height: 30px; width:148px; padding: 120px 0 0 0; margin: 0 2px 2px 0; color: #fff; font-size: 24px; text-decoration: none; text-align: center; }
div.connect_communitylinks a.B                      { font-family: 'Roboto'; line-height: 0.3em; float:left;display:block; height: 30px; width:150px; padding: 120px 0 0 0; margin: 0 0 2px 0; color: #fff; font-size: 24px; text-decoration: none; text-align: center; }       
div.connect_communitylinks a:hover,
div.connect_communitylinks a.B:hover                {color: #333;}
/***********************/
/* color setup         */
/***********************/

body                                                { background: #ddd;}

/* toolbar at the top */
.connect-toolbar                                    { background: #47292b;}

h1, h2, h3, h4                                      { color: #1BA1E2;}
p, .Normal, div                                     { color: #333; }

/* Default ***************************************************************************/
/* BLUE */          
.color9, .blue, 
.Connect-ModuleSearchBar, 
.mdSearch, .connect-content-head                    { background-color: #1BA1E2; }

.dnnPrimaryAction, 
.dnnFormItem input[type="submit"], a.dnnPrimaryAction   { background: #1BA1E2; }

.dnnPrimaryAction:hover, 
.dnnFormItem input[type="submit"]:hover, 
a.dnnPrimaryAction:hover,.dnnPrimaryAction:active, 
.dnnFormItem input[type="submit"]:active,
a.dnnPrimaryAction:active                           { background: #0D569E;}

.dnnSecondaryAction, a.dnnSecondaryAction           { background: #aaa; }
.dnnSecondaryAction:hover, 
a.dnnSecondaryAction:hover,
.dnnSecondaryAction:active, 
a.dnnSecondaryAction:active                         { background: #888; }

/**********************************************************************************/



/* WHITE */         .color0, .white                 { background-color: #FFFFFF; }


/* PURPLE */        .color1, .purple                { background-color: #FF0097; }


/* Events *************************************************************************/
/* MAGENTA */		.color2, .magenta               { background-color: #A200FF; } 
a.icnEvents					                        { background: #A200FF url(images/metro/icnEvents.png) 15px 5px no-repeat;}
.events .dnnPrimaryAction, 
.events .dnnFormItem input[type="submit"],
.events a.dnnPrimaryAction                          { background: #A200FF; }
.events .Connect-ModuleSearchBar, 
.events .mdSearch, .events .connect-content-head    { background-color: #A200FF; }
/**********************************************************************************/

/* Answers ************************************************************************/
/* TEAL */		    .color3, .teal                  { background-color: #00ABA9; } 
a.icnAnswers                                        { background: #00ABA9 url(images/metro/icnAnswers.png) 15px 5px no-repeat;}
.answers .dnnPrimaryAction, 
.answers .dnnFormItem input[type="submit"],
.answers a.dnnPrimaryAction                         { background: #00ABA9; }
.answers .Connect-ModuleSearchBar, 
.answers .mdSearch, .answers .connect-content-head  { background-color: #00ABA9; }
.answers .qaNav                                     { background: #fff; }
.answers .qaNavItems                                { background: #00ABA9;}
.qaHome, .qaPrivilege, .qaBadges, .qaBadge, 
.qaBrowse, .dnnqaQuestion, .qaContent, .qaSideList,
.dnnqaTagList, .qaSubscriptions, .qaAskQuestion     { background: #fff; }
.answers h2.dnnFormSectionHead,
.answers h3.dnnFormSectionHead                      { color: #333; }
.answers h3 a,                                      
.answers .dnnqaQuestion h1                          { color: #00ABA9; text-decoration: none; }   
.answers h3 a:hover                                 { color: #333; text-decoration: none; }
.qaQuestion .answers.multiple,
.qaAskQuestionLink a, .qaAskQuestionLink a:link, 
.qaAskQuestionLink a:visited,
.qaUserScore,.answers .tag-menu,
.answers a.tag:hover                                { background: #00ABA9; }
.answers a.tag                                      { background: #E4E4E4; }
.answers a.tag:hover                                { color: #fff;}


/**********************************************************************************/

/* Translations *******************************************************************/
/* LIME */		    .color4, .lime                  { background-color: #8CBF26; }
a.icnTranslations                                   { background: #8CBF26 url(images/metro/icnTranslations.png) 15px 5px no-repeat;}
.translations .dnnPrimaryAction, 
.translations .dnnFormItem input[type="submit"],
.translations a.dnnPrimaryAction                    { background: #8CBF26; }
.translations .Connect-ModuleSearchBar, 
.translations .mdSearch, 
.translations .connect-content-head                 { background-color: #8CBF26; }
.translations div.specificLocale                    { background: #ddd; border: 1px solid #999; }
.translations div.specificLocale a                  { color: #7fbc05;}
.translations div.specificLocale a:hover            { color: #333; }

/**********************************************************************************/


/* Groups *************************************************************************/
/* BROWN */         .color6, .brown                 { background-color: #A05000; } 
a.icnGroups					                        { background: #A05000 url(images/metro/icnGroups.png) 15px 5px no-repeat;}
.groups .dnnPrimaryAction, 
.groups .dnnFormItem input[type="submit"],
.groups a.dnnPrimaryAction                          { background: #A05000; }
.groups .Connect-ModuleSearchBar, 
.groups .mdSearch, 
.groups .connect-content-head                       { background-color: #A05000; }

.groups .dgdGroupQuickInfoWrap,
.groups .Connect_GroupIntro                         { background: #fff;}
.groups .dgdGroupQuickInfo h3 a                     { color: #A05000; text-decoration: none; }
.groups .dgdGroupQuickInfo h3 a:hover               { color: #333; }
.groups .GroupViewTop,                               
.GroupViewTop    { background-color: #A05000; }
.GroupViewTop h1 {color: #fff;}
.GroupViewTop a {
        color: #fff;
    }
.GroupViewTop .dnnPrimaryAction    { background:#793d01;}
/**********************************************************************************/

/* Kickstart **********************************************************************/
/* PINK */			.color5, .pink                  { background-color: #E671B8; }
a.icnKickstart                                      { background: #E671B8 url(images/metro/icnKickstart.png) 15px 5px no-repeat;}
.kickstart .dnnPrimaryAction, 
.kickstart .dnnFormItem input[type="submit"],
.kickstart a.dnnPrimaryAction                          { background: #E671B8; }
.kickstart .Connect-ModuleSearchBar, 
.kickstart .mdSearch, 
.kickstart .connect-content-head                       { background-color: #E671B8; }
/**********************************************************************************/

/* Members ************************************************************************/
/* ORANGE */		.color7, .orange                { background-color: #F09609; }
a.icnMembers				                        { background: #F09609 url(images/metro/icnMembers.png) 15px 5px no-repeat;}
.members .dnnPrimaryAction, 
.members .dnnFormItem input[type="submit"],
.members a.dnnPrimaryAction                          { background: #F09609; }
.members .Connect-ModuleSearchBar, 
.members .mdSearch, 
.members .connect-content-head                      { background-color: #F09609; }
.members #mdMemberList > li                         { background: none repeat scroll 0 0 #fff; }
.members #mdMemberList > li:hover                   { background: none repeat scroll 0 0 #F09609; }
.members .mdMemberDetails .mdHoverActions           { background: none #eee; }
.members #mdMemberList > li:hover .mdHoverActions   { background: none repeat scroll 0 0 #F09609; }
.members #mdMemberList .mdMemberTitle               { color: #d88400; text-decoration: none; }
.members #mdMemberList > li:hover .mdMemberTitle    { color: #333; text-decoration: none; }
.members #mdMemberList p                            { color: #444;}
.members .mdHoverActions a                          { color: #555; text-shadow: none; text-decoration:none; }
.members .mdHoverActions a:hover	                { color: #fff; }

.my_profile .GroupViewTop { background: #F09609;}
.ConnectMemberActions #mdMemberList > li                         { background: none transparent; }
/**********************************************************************************/

/* Forums *************************************************************************/
/* RED */           .color8, .red                   { background-color: #E51400; } 
a.icnDiscussions			                        { background: #E51400 url(images/metro/icnDiscussions.png) 15px 5px no-repeat;}

.discussions .dnnPrimaryAction, 
.discussions .dnnFormItem input[type="submit"],
.discussions a.dnnPrimaryAction                     { background: #E51400; }
.discussions .Connect-ModuleSearchBar, 
.discussions .mdSearch, 
.discussions .connect-content-head                  { background-color: #E51400; }

.discussions .tile-af	                            { background: #fff url(images/Metro/icnDiscussions_Red.png) 0px 10px no-repeat; }
.discussions .aftoolbarpanel                        { background-color: #eee; }
.discussions ul.af-topiclist li	                    { background: #fff; border: 1px solid #dedede; }
.discussions td.afgrouprow                          { background-color: #E51400;color: #FFFFFF;}
.discussions #afcontainer .af-search-bar            { background-color: #E51400; }
.discussions .ct-forumname a                        { color: #E51400;}
.discussions .af-description                        { color: #333; }
.discussions .tile-af ul li                         { color: #333; background: url(images/metro/icnStats.png) 0px 0px no-repeat; }
.discussions .af-lastpost a                         { color: #E51400; }
.discussions .af-title, .af-title a		            { color: #333; }
.discussions .af-topiclink a                        { color: #E51400; }

.aftoolbarpanel ul.af-list-flat li a, 
.aftoolbarpanel ul.af-list-flat li a:link, 
.aftoolbarpanel ul.af-list-flat li a:visited, 
.aftoolbarpanel ul.af-list-flat li a:active         { color: #333; }
.aftoolbarpanel ul.af-list-flat li a:hover          { color: #E51400; }
.aftb-search .aftb-search-link span                 { color: #333; }
/**********************************************************************************/


/* BLOGS *******************************************************************/
/* Blog */
/* GREEN */         .color10, .green                { background-color: #339933; } 
a.icnBlogs					                        { background: #339933 url(images/metro/icnBlogs.png) 15px 5px no-repeat;}
.blogs .dnnPrimaryAction, 
.blogs .dnnFormItem input[type="submit"],
.blogs a.dnnPrimaryAction                           { background: #339933; }
.blogs .Connect-ModuleSearchBar, 
.blogs .mdSearch, .blogs .connect-content-head      { background-color: #339933; }
.blogs .summary p.postblog a,
.blogs .summary p.postuser a,                  
.blogs .contentcontainer a                          { color: #339933; }     
.blogs .singlepostitem h2 a                         { color: #339933; }
.blogs .blog-main-content h1,
.blogs .blog-main-content h2,
.blogs .blog-main-content h3                        { color: #339933; }
/**************************************************************************/

.Connect-SearchBarInput input[type="submit"],
.Connect-SearchBarInput a.dnnPrimaryAction,
.mdSearchBar a.dnnPrimaryAction                     { background: #eee url(images/Metro/icnSearchSmall_Black.png) 10px 9px no-repeat;color: #444; text-shadow: none; }
.Connect-SearchBarInput a.dnnPrimaryAction:hover    { color: #000; }




/* Forum */


/* Font Colors */
.Connect-SearchBarHeading  h1, .mdSearchBar h1, .connect-content-head h1  { color: #FFFFFF; }



/* Font Styles */
.Connect-SearchBarHeading  h1, .mdSearchBar h1,
.connect-content-head h1 {
    font-family: 'novecento_widedemibold',Arial,sans-serif;
    font-size: 30px;
    line-height: 1.3;
}
/*  Solutions & About Us page */
.solutions .connect-content-head h1,
.about_us .connect-content-head h1  { font-size: 40px; line-height: 2.5;}

/* default content header */





/* platform tile content */
.connect_dnnplatform            { padding: 20px;}
.connect_dnnplatform img        { width: 260px; float:left; margin: 10px 20px 20px 0;}
.connect_dnnplatform p          { font-size: 14px;}
.connect_downloads              { margin: 20px 0 0 0;}







/********************************/
/* containers                   */
/********************************/
.head_title
{
    border-bottom:solid 1px #0D569E;
}

/********************************/
/* default.css overrides        */
/********************************/
.Head {
    font-size: 24px;
}

/* Primary Action */
.dnnPrimaryAction, .dnnFormItem input[type="submit"], a.dnnPrimaryAction, .Connect-SearchBarInput input[type="submit"],
.qaAskQuestionLink a, .qaAskQuestionLink a:link, .qaAskQuestionLink a:visited, 
.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only { font-size: 16px; border:none !important; color: #fff;border-radius:0;-moz-border-radius:0; text-shadow: none; font-weight:normal; }
.dnnPrimaryAction:hover, .dnnFormItem input[type="submit"]:hover, a.dnnPrimaryAction:hover, 
.dnnPrimaryAction:active, .dnnFormItem input[type="submit"]:active, a.dnnPrimaryAction:active { border:none;color: #fff; }
.dnnPrimaryAction[disabled], .dnnPrimaryAction[disabled]:hover, .dnnPrimaryAction[disabled]:active {font-size: 16px;background: #ccc !important;border: none !important;-webkit-box-shadow: none !important;box-shadow: none !important; color: #aaa !important; text-shadow: none; }

.Connect-SearchBarInput input[type="submit"] {
    border: 1px solid #DDDDDD;
    color: #333333;
    margin: 0 0 0 10px;
    padding: 10px 10px 10px 35px;
    cursor: hand !important;
}
    
/* Secondary Action */
.dnnSecondaryAction, a.dnnSecondaryAction { font-size: 16px; background: #aaa; border:none !important;color: #fff;border-radius:0;-moz-border-radius:0;text-shadow: none; font-weight:normal; }
.dnnSecondaryAction:hover, a.dnnSecondaryAction:hover,
.dnnSecondaryAction:active, a.dnnSecondaryAction:active { font-size: 16px; border:none;background: #888; color: #fff;}
.dnnSecondaryAction[disabled], .dnnSecondaryAction[disabled]:hover, .dnnSecondaryAction[disabled]:active { font-size: 16px; background: #ccc !important;border: none !important;-webkit-box-shadow: none !important;box-shadow: none !important;color: #aaa !important;text-shadow: none;}


/*-------------------------------------*/
/* FORM STYLES */
/*-------------------------------------*/

.dnnFormItem input[type="text"],
.dnnFormItem select,
.dnnFormItem textarea,
.dnnFormItem input[type="email"],
.dnnFormItem input[type="search"],
.dnnFormItem input[type="password"] {
    margin-bottom: 18px;
    padding: 8px;
    background: #ffffff;
    border: 1px solid #444;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.1), inset 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.1), inset 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    color: #333;
    font-size: 12px;
}

/* Active and Focus States */
.dnnFormItem input[type="text"]:active, .dnnFormItem input[type="text"]:focus,
.dnnFormItem input[type="password"]:focus, .dnnFormItem input[type="password"]:active,
.dnnFormItem input[type="email"]:active, .dnnFormItem input[type="email"]:focus,
.dnnFormItem select:active, .dnnFormItem select:focus,
.dnnFormItem textarea:active, .dnnFormItem textarea:focus,
.dnnFormItem input[type="search"]:active, .dnnFormItem input[type="search"]:focus {
    background: #fff;
    border: 1px solid #7dc96e; /* blue */
    -webkit-box-shadow: 0px 0px 3px 0px rgba(2, 139, 255, 0.1);
    box-shadow: 0px 0px 3px 0px rgba(2, 139, 255, 0.1);
    color: #333;
}





  a.lnkGroups {
    background-image: url("images/groups.png");
    background-position: center center;
    background-repeat: no-repeat;
    color: #FFFFFF;
    display: block;
    font-size: 24px;
    height: 60px;
    padding: 240px 0 0;
    text-align: center;
    text-decoration: none;
    width: 300px;
} a.lnkGroups:hover { color: #333;}

  a.white {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #FFFFFF;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    text-transform: lowercase;
}
  .center { text-align: center;}






@media only screen and (min-width: 200px) and (max-width: 680px) 
{
    .skinWidth,.connect-toolbar{width:auto;margin:0;}
    .topBar{position:relative;}
    .connect-toolbar{height:100px;margin: 0 0 20px 0px;}
    .connect_logo{margin: 12px 12px 5px 12px;position:relative;z-index:2;}
    .connect_search{height:24px;margin:16px 0 11px 0;width:auto;position:relative;z-index:2;}
    .connect_search span.searchInputContainer input{width:120px;height:25px;background-size:100%;font-size:15px;}
    .searchInputContainer a.dnnSearchBoxClearText{margin:4px 0 !important;}
    a.SearchButton{background-size:100%;width: 26px;height: 24px;background-position:0;}
    
    .connect_usertoolbar{float:none;padding: 0 12px;clear:both;position:relative;z-index:2;}
    
    .connect_nav{width: auto;position: absolute;right: 0;top: 16px;width: 50%;z-index: 1;}
    .connect_nav .m_nav{display:block;background:url(images/m_menubg.png) no-repeat;width:50px;height:39px;float:right;margin-right:12px;}
    .connect_nav .m_nav:hover{background-color:#000;border-radius:5px;}
    .connect_nav ul.sf-menu{display:none;background: #47292b;margin-top: 56px;width: 100%;clear: both;}
    .connect_nav .sf-menu li{float:none;width:auto;}
    .connect_nav .sf-menu ul{top:0;}
    .connect_nav .sf-menu ul li{padding-left:25px;}
    .connect_nav .sf-menu li:hover > ul, 
    .connect_nav .sf-menu li.sfHover > ul, 
    .connect_nav li.userName:hover > ul{display:none !important;}
    .connect_nav .sf-menu li.selected > ul, 
    .connect_nav .sf-menu li.parent > ul,
    .connect_nav .sf-menu li.parent:hover > ul, 
    .connect_nav .sf-menu li.selected:hover > ul{display:block !important;position:relative;}
    
    .tile,.tile_900_900,.tile_900_600,.tile_600_600,.tile_300_300,.tile_600_300,.tile_300,.tile_content{ width:100%;}
    
    .connect_intro{padding:20px;}
    .connect_events{padding: 8%;width: auto;}
}



