.clearfix:after         { content: ".";display: block;height: 0;clear: both;visibility: hidden;}.clearfix {display: inline-block;}/* Hides from IE-mac \*/ * html .clearfix { height: 1%;}.clearfix {display: block;}/* End hide from IE-mac */
p, h1, h2, h3, h4, h5   { margin: 0; padding: 0;}




html, body, *, 
a, a:link, a:active, 
a:visited, div, p, span { font-family: 'Roboto'; font-size: 14px;}
h1                      { font-family: 'novecento_widedemibold', Arial, sans-serif; font-size: 42px; line-height:1.3; color: #fff;}
h2                      { font-family: 'novecento_widedemibold', Arial, sans-serif; font-size: 36px; line-height:1.3; color: #333;}
h3, .dnnFilterSet h3    { font-family: 'novecento_widedemibold', Arial, sans-serif; font-size: 30px; line-height:1.3; color: #333;}
h4                      { font-family: 'novecento_widedemibold', Arial, sans-serif; font-size: 24px; line-height:1.3; color: #333;}
strong, .strong         { font-weight: bold;}
p                       { margin: 10px 0 15px 0;}
.splash h1              { margin: 57px 30px 60px 55px; width: 80%;}
* a, a {cursor: pointer !important; cursor: hand !important; }
/* basic setup */
body                                                            { background: #eee;}
.skinWidth                                                      { width: 1212px; margin: 20px auto;}

/* toolbar at the top */
.connect-toolbar                                                { width: 1206px; margin: 0 0 20px 2px;background: #47292b; height: 60px;}
.connect-toolbar[data-useragent*='MSIE 10.0']                                                { width: 1206px; margin: 0 0 20px 2px;background: #47292b; height: 56px}
/* navigation bar */
.connect_nav                                                    { width: 695px; float:left;}

/* logo */
.connect_logo                                                   { width: 36px; height: 36px; overflow: hidden; float:left;margin: 12px;}

/* searchbox */
.connect_search                                                 { float:left; width: 216px;height: 36px;border: 2px solid #47292b; border-left: none; background: #47292b;margin: 10px 0 10px 0; overflow: hidden;}

.connect_search span.searchInputContainer                       { display: block;padding: 0px; float:left; background: #47292b;}
.connect_search span.searchInputContainer input                 { background: #472929 url(images/bg_search.png)0px 0px no-repeat; border: none;height: 41px; width: 172px; padding: 0px 5px 2px 10px; line-height: 20px; font-size: 20px; float:left; border-bottom: 0px solid #fff;}
.connect_search .searchInputContainer input.active              { background: #472929 url(images/bg_search.png) 0px -36px no-repeat;}
.connect_search .searchInputContainer input.active[data-useragent*='MSIE 10.0']              { background: #472929 url(images/bg_search.png) 0px 0px no-repeat; height: 45px; margin-top: 0px;}
a.SearchButton                                                  { text-indent:-999px; display: block; width: 36px; height: 36px; background: url(images/search_large.png) 1px 3px no-repeat; float:left; margin: 0px 0px 0px 5px; overflow: hidden;}
a.SearchButton:hover                                            { background-color: #00a0e3;}


/* Login, Register, Profile Linkbar */
.connect_usertoolbar                                            { width:217px; float:left;}
.connect_usertoolbar ul                                         { margin: 12px 0 0 0; padding:0;}
.connect_usertoolbar ul li                                      { list-style-type: none; float:left;background: #000; margin: 0 3px 0 0; border: 1px solid #333;}
.connect_usertoolbar li.userName                                { width: 140px;display: block;}
li.userRegister a                                               { line-height: 35px; color: #fff; font-size: 14px; text-decoration: none; padding: 8px 20px 8px 32px; background-image: url(images/user.png); background-position: 5px center; background-repeat: no-repeat;}
li.userLogin a                                                  { line-height: 35px; color: #fff; font-size: 14px; text-decoration: none; padding: 8px 20px 8px 32px; background-image: url(images/padlock.png); background-position: 5px center; background-repeat: no-repeat;}
li.userProfile a                                                { line-height: 35px; color: #fff; font-size: 14px; text-decoration: none; padding: 0; }
li.userName a                                                   { line-height: 36px; color: #fff; font-size: 14px; text-decoration: none; padding: 7px 20px 7px 34px; background-image: url(images/user.png); background-position: 5px center; background-repeat: no-repeat;}
.connect_usertoolbar ul li a:hover                              { background-color: #BD5200;}                             
.connect_usertoolbar ul li .userProfileImg  img                 { padding: 1px; background: #333; border: 1px solid #000;}
.connect_usertoolbar ul ul                                      { display: none;}
.connect_usertoolbar ul li.userName, 
.connect_usertoolbar ul li.userProfile                          { margin-right: 0;}
.connect_usertoolbar ul li.userName                             { border-right: none;}
.connect_usertoolbar li.userName li                             { width: 140px; border: none;}
.connect_usertoolbar li.userName li a                           { background-image: none; padding-left: 10px; border: none; display: block; padding: 1px 20px 1px 34px; background-color: #BD5200;}
.connect_usertoolbar li.userName li a:hover                     { background-color: #472929;}
.connect_usertoolbar li.userName li.userNotifications a         { padding-left: 23px;}
.connect_usertoolbar li.userName li.userNotifications a span    { color: #eac103;}

/* buttons global */
a.button, a.button:visited, 
a.button.active                 { line-height: 30px; border: 1px solid #222; background: #444; color: #fff; font-size: 18px; text-decoration: none; padding: 0 20px 0 40px; border-radius: 2px; -moz-border-radius: 1px;}
a.button:hover                  { background-color: #222;}

/* button alignments */
a.left                          { float:left;}
a.leftmargin                    { float:left; margin-left: 30px;}
a.right                         { float:right;}
a.rightmargin                   { float:right; margin-right: 30px;}

/* special purpose buttons */
a.login                         { background-image: url(images/padlock.png); background-position: 5px center; background-repeat: no-repeat;}
a.register                      { background-image: url(images/user.png); background-position: 5px center; background-repeat: no-repeat;}
a.search                        { background-image: url(images/search.png); background-position: 5px center; background-repeat: no-repeat;}
a.heart                         { background-image: url(images/heart.png); background-position: 5px center; background-repeat: no-repeat;}

a.lnkDiscussions                { background-image: url(images/discussions.png); background-position: center center; background-repeat: no-repeat; display:block; height: 60px; width:300px; padding: 240px 0 0 0; color: #fff; font-size: 24px; text-decoration: none; text-align: center;}
a.lnkDiscussions:hover          { color: #333;}

a.lnkEvents                { background-image: url(images/events.png); background-position: center center; background-repeat: no-repeat; display:block; height: 60px; width:300px; padding: 240px 0 0 0; color: #fff; font-size: 24px; text-decoration: none; text-align: center;}
a.lnkEvents:hover          { color: #333;}

a.lnkGroups                { background-image: url(images/groups.png); background-position: center center; background-repeat: no-repeat; display:block; height: 60px; width:300px; padding: 240px 0 0 0; color: #fff; font-size: 24px; text-decoration: none; text-align: center;}
a.lnkGroups:hover          { color: #333;}

a.lnkBlogs                { background-image: url(images/blogs.png); background-position: center center; background-repeat: no-repeat; display:block; height: 60px; width:300px; padding: 240px 0 0 0; color: #fff; font-size: 24px; text-decoration: none; text-align: center;}
a.lnkBlogs:hover          { color: #333;}

a.lnkAnswers                { background-image: url(images/answers.png); background-position: center center; background-repeat: no-repeat; display:block; height: 60px; width:300px; padding: 240px 0 0 0; color: #fff; font-size: 24px; text-decoration: none; text-align: center;}
a.lnkAnswers:hover          { color: #333;}

a.connect_faqlink               { background-image: url(images/bulb_large.png); background-position: center center; background-repeat: no-repeat; display:block; height: 80px; width:300px; padding: 220px 0 0 0; color: #fff; font-size: 24px; text-decoration: none; text-align: center;}
a.connect_faqlink:hover         { color: #333;}

a.connect_idealink              { background-image: url(images/search_huge.png); background-position: center center; background-repeat: no-repeat; display:block; height: 80px; width:300px; padding: 220px 0 0 0; color: #fff; font-size: 24px; text-decoration: none; text-align: center;}
a.connect_idealink:hover        { color: #333;}

/* large tile home page tile content */
.connect_intro                  { padding: 80px;}
.connect_intro h3               { font-family: 'novecento_widedemibold', Arial, sans-serif; font-size: 150px; line-height:1; color: #fff; text-indent: -9px; word-spacing: -30px;}
.connect_intro h4               { font-family: 'novecento_widedemibold', Arial, sans-serif; font-size: 30px; line-height:1.3; color: #fff; margin: 0 0 20px; width: 80%;}
.connect_intro p                { font-size: 16px; font-weight: 300; color: #fff; line-height: 1.3;}
.connect_intro a                { font-size: 16px; color: #eee; }
.connect_intro p.connect_user   { padding: 30px 0 0 0;}

/* opensource statement */
blockquote.opensource           { padding: 10px 0 10px 8px;margin: 20px;background: url(images/block1.png) 1px 1px no-repeat;text-indent: 40px;border: none;}
blockquote.opensource span      { display: block;background-image: url(images/block2.png);background-repeat: no-repeat;background-position: bottom right;line-height: 35px;font-size: 20px;font-style: italic;font-weight: normal;font-family: Georgia; color: #fff;}
blockquote.ack                  { padding: 25px 0 0px 20px;margin: 0px;background: url(images/block1.png) 20px 10px no-repeat;text-indent: 5px;border: none;}   
blockquote.ack span      { display: block;background-image: url(images/block2.png);background-repeat: no-repeat;background-position: 220px 165px;line-height: 200px;font-size: 100px;font-style: normal;font-weight: normal;font-family: 'novecento_widedemibold', Arial, sans-serif; color: #fff;}
/* facebook tile content */
.facebook-like                  { -moz-box-sizing: border-box;background: url("images/logo_fb.png") no-repeat scroll center center #34609D;color: #FFFFFF;padding: 240px 40px 40px;text-align: center;}
/* twitter tile content */
.twitter-follow                 { -moz-box-sizing: border-box;background: url("images/logo_tw.png") no-repeat scroll center center #0093C3;color: #FFFFFF;padding: 240px 40px 40px;text-align: center;}

/* leaderboard tile content */
.leader-contents table.dnnLeaderboard2 tr td:first-child {padding: 0;}
.leader-contents table.dnnLeaderboard2 tr td:first-child + td {padding: 0;}
.leader-contents table.dnnLeaderboard2 tr td {padding-top: 12px !important;}
.connect_leaderboard { padding: 0 20px 0 20px;}
.connect_leaderboard h3 {margin: 0; padding:10px 0 0 0; font-family: novecento_widedemibold; font-size: 16px; color: #fefefe;letter-spacing: 1.5px; }
.connect_leaderboard .leader-contents table.dnnLeaderboard2 .dnnLeaderboard-avator {padding: 1px; width: 35px; height: 35px; background: #eee; border: 1px solid #333; overflow: hidden;}
.connect_leaderboard .leader-contents table.dnnLeaderboard2 .dnnLeaderboard-avator em {height: 35px; width: 35px; display: block;}
.connect_leaderboard .leader-contents table.dnnLeaderboard2 .dnnLeaderboard-avator span{ height: 35px; width: 35px; display: block;}
.connect_leaderboard .leader-contents table.dnnLeaderboard2 .dnnLeaderboard-avator img { display: block; width: auto;}
table.dnnLeaderboard2 a.dnnSocialLink {color: #fff; text-decoration: none; font-size: 14px; display: block; line-height: 37px; padding: 0 0 0 10px;}
table.dnnLeaderboard2 a.dnnSocialLink:hover {background: #FF8E38;}
.connect_readmore {float: left; margin: 10px 0px 0 0;}

/* events tile content */
.connect_events     { padding: 20px  0 20px 295px; background: url(images/bg_events.png) 40px center no-repeat; width: 560px; height: 260px;}
.connect_events h4  { font-family: 'novecento_widedemibold', Arial, sans-serif; font-size: 16px; letter-spacing: 1.5px; margin: 0px 0 5px 27px; color: #fefefe;}
.connect_events h3  { font-family: 'novecento_widedemibold', Arial, sans-serif; font-size: 24px; margin: 20px 0 10px 25px; color: #333;}
.connect_date       { display: block; background: url(images/globe.png) 24px center no-repeat; padding: 10px 0 10px 67px; font-size: 20px; color: #444;}
.connect_subtitle   { display: block; background: url(images/marker.png) 24px center no-repeat; padding: 10px 0 10px 67px; font-size: 20px; color: #444;}
.connect_subscribe  { margin: 30px 0px 0 27px;}

/* platform tile content */
.connect_dnnplatform        { padding: 20px;}
.connect_dnnplatform img    { width: 260px; float:left; margin: 10px 20px 20px 0;}
.connect_dnnplatform p      { font-size: 14px;}
.connect_downloads          { margin: 20px 0 0 0;}

/* tiles setup */
.tile                   { min-height: 300px;}
.tile_900_900           { width: 902px; min-height: 904px; margin: 0 0 0 2px;}
.tile_900_600           { width: 902px; min-height: 602px; margin: 0 0 0 2px;}
.tile_600_600           { width: 602px; height: 602px; margin: 0 0 2px 2px;}
.tile_300_300           { width: 300px; height: 300px; margin: 0 0 2px 2px;}
.tile_600_300           { width: 600px; height: 300px; margin: 0 0 0 2px;}
.tile_300               { width: 300px; margin: 0 0 2px 2px;}
.tile_content           { width: 864px; margin: 0 0 0 2px; background: #ddd; padding: 30px 20px 30px 20px; min-height: 240px;}
.tile_content           { float:left;}
.tile_side              { float:right;}
.tile.DNNEmptyPane      { display: none;height:0px;width:0px;line-height:0;margin:0;padding:0;}

/*home page tiles */
.home .tile             { float:left;}

/* panes setup */
.contentPane            { padding: 40px 0 0 0; margin: 20px 0 0 0;}

/***********************/
/* tile colors         */
/***********************/
/* big white */     .color0     {background-color: #fff;}
/* big orange */    .color1     {background-color: #FF8E38;}
/* yellow */        .color2     {background-color: #38FF8E;}
/* light brown */          .color3     {background-color: #BD5200;}
/* pink */          .color4     {background-color: #FF38A9;}
/* facebook */      .color6     {background-color: #34609D;}
/* light green */   .color5     {background-color: #FF3845;}
/* light blue/vt */ .color7     {background-color: #a3b2d8;}
/* lemon */         .color9     {background-color: #91D712;}
/* Twitter */       .color8     {background-color: #0093C3;} 

/* registration form homepage */
.connect_registerform           { padding: 0 55px 30px 55px;}
.connect_register ul.dnnActions,
.connect_login ul.dnnActions    { margin-left: 30px;}
.connect_register,
.connect_login                  { margin: 0px; padding: 50px 0 30px 0; border-left: 1px solid #ccc; border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; background: #fff;}
ul#ConnectRegisterFormTabs      { margin-bottom: 0;}
.connect_register h3            { color: #fff;font-family: 'novecento_widedemibold', Arial, sans-serif; font-size: 30px; line-height:1.3; color: #fff; margin: 30px 0 30px 0;}

.connect_registernote           { padding: 20px 0 30px 0; margin: 0 auto; width: 70%;}
.connect_registernote span      { font-weight: bold;}

/********************************/
/* default.css overrides        */
/********************************/


/* Primary Action */

.dnnPrimaryAction, .dnnFormItem input[type="submit"], a.dnnPrimaryAction {
    border-color: #222; /*dark blue*/
    background: #2d2d2d;
    background: -moz-linear-gradient(top, #666 0%, #333 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#666), color-stop(100%,#333)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #666 0%,#333 100%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(top, #666 0%,#333 100%); /* W3C */
    -webkit-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.6), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4);
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.3), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.2);
    color: #efefef;
    text-shadow: 0px -1px 0px #185B93;
}

    .dnnPrimaryAction:hover, .dnnFormItem input[type="submit"]:hover, a.dnnPrimaryAction:hover {
        border-color: #222;
        background: #3d3d3d; /* Old browsers */
        background: -moz-linear-gradient(top, #777 0%, #444 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#777), color-stop(100%,#444)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #777 0%,#444 100%); /* Chrome10+,Safari5.1+ */
        background: linear-gradient(top, #777 0%,#444 100%); /* W3C */
        color: #fff;
    }

    .dnnPrimaryAction:active, .dnnFormItem input[type="submit"]:active, a.dnnPrimaryAction:active {
        border-color: #333;
        background: #555; /* Old browsers */
        background: -moz-linear-gradient(top, #888 0%, #555 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#888), color-stop(100%,#555)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #888 0%,#555 100%); /* Chrome10+,Safari5.1+ */
        background: linear-gradient(top, #888 0%,#555 100%); /* W3C */
        -webkit-box-shadow: inset 0px 1px 5px 0px rgba(0, 0, 0, 0.4);
        box-shadow: inset 0px 1px 5px 0px rgba(0, 0, 0, 0.4);
        color: #fff;
    }

    .dnnPrimaryAction[disabled], .dnnPrimaryAction[disabled]:hover, .dnnPrimaryAction[disabled]:active {
        background: #ccc !important;
        border: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        color: #aaa !important;
        text-shadow: none;
    }
    
/* Secondary Action */
.dnnSecondaryAction,
a.dnnSecondaryAction {
    background: #f5f5f5; /* Old browsers */
    background: -moz-linear-gradient(top, #888 0%, #999 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#888), color-stop(100%,#999)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #888 0%,#999 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #888 0%,#999 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #888 0%,#999 100%); /* IE10+ */
    background: linear-gradient(top, #888 0%,#999 100%); /* W3C */
    -webkit-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.4), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.1);
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.4), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.1);
    text-shadow: 0px 1px 0px #888;
    color: #eee;
}

    .dnnSecondaryAction:hover,
    a.dnnSecondaryAction:hover{
        background: #fefefe; /* Old browsers */
        background: -moz-linear-gradient(top, #777 0%, #888 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#777), color-stop(100%,#888)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #777 0%,#888 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #777 0%,#888 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #777 0%,#888 100%); /* IE10+ */
        background: linear-gradient(top, #777 0%,#888 100%); /* W3C */
        color: #eee;
    }

    .dnnSecondaryAction:active,
    a.dnnSecondaryAction:active {
        border-color: #999;
        background: #c6c6c6; /* Old browsers */
        background: -moz-linear-gradient(top, #666 0%, #777 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#666), color-stop(100%,#777)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #666 0%,#777 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #666 0%,#777 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #666 0%,#777 100%); /* IE10+ */
        background: linear-gradient(top, #666 0%,#777 100%); /* W3C */
        -webkit-box-shadow: inset 0px 1px 5px 0px rgba(0, 0, 0, 0.4);
        box-shadow: inset 0px 1px 5px 0px rgba(0, 0, 0, 0.4);
    }   

/*-------------------------------------*/
/* FORM STYLES */
/*-------------------------------------*/

.dnnFormItem input[type="text"],
.dnnFormItem select,
.dnnFormItem textarea,
.dnnFormItem input[type="email"],
.dnnFormItem input[type="search"],
.dnnFormItem input[type="password"] {
    margin-bottom: 18px;
    padding: 8px;
    background: #ffffff;
    border: 1px solid #444;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.1), inset 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.1), inset 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    color: #333;
    font-size: 12px;
}


/* Active and Focus States */
.dnnFormItem input[type="text"]:active, .dnnFormItem input[type="text"]:focus,
.dnnFormItem input[type="password"]:focus, .dnnFormItem input[type="password"]:active,
.dnnFormItem input[type="email"]:active, .dnnFormItem input[type="email"]:focus,
.dnnFormItem select:active, .dnnFormItem select:focus,
.dnnFormItem textarea:active, .dnnFormItem textarea:focus,
.dnnFormItem input[type="search"]:active, .dnnFormItem input[type="search"]:focus {
    background: #fff;
    border: 1px solid #7dc96e; /* blue */
    -webkit-box-shadow: 0px 0px 3px 0px rgba(2, 139, 255, 0.1);
    box-shadow: 0px 0px 3px 0px rgba(2, 139, 255, 0.1);
    color: #333;
}

/*account form textarea override */
.connect_accountform .dnnFormItem textarea {height: 378px !important;}

/* menu */
   
/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}
.sf-menu li, li.userName {
	position: relative; z-index: 1;
}
.sf-menu ul, li.userName ul {
	position: absolute;
	display: none;
	top: 100%;
	left: 0;
	z-index: 99;
}
.sf-menu > li, li.userName > li {
	float: left;
}
.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul,
li.userName:hover > ul {
	display: block;
}

.sf-menu a {
	display: block;
	position: relative;
}
.sf-menu ul ul {
	top: 0;
	left: 100%;
}


/*** DEMO SKIN ***/
.sf-menu {
	float: left;
	margin-top: 10px;
}
.sf-menu ul {
	min-width: 12em; /* allow long menu items to determine submenu width */
	*width: 12em; /* no auto sub width for IE7, see white-space comment below */
}
.sf-menu a, .sf-menu a:link, .sf-menu a:active, .sf-menu a:visited {
	padding: 7px 0px 7px 25px;
	text-decoration: none;
	zoom: 1; /* IE7 */
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	font-family: arial, Sans-Serif;
}
.sf-menu a:hover {}
.sf-menu li{
	white-space: nowrap; /* no need for Supersubs plugin */
	*white-space: normal; /* ...unless you support IE7 (let it wrap) */
	-webkit-transition: background .2s;
	transition: background .2s;
	width: 135px;
	margin: 2px;
	padding: 2px 0 2px 0;
}
.sf-menu ul li {
	background: #BD5200;
	margin: 0;
}
.sf-menu ul {
top: 36px;
}
li.userName ul {top:22px;}
.sf-menu ul ul li {
	background: #9AAEDB;
}
.sf-menu li:hover,
.sf-menu li.sfHover,
li.userName:hover 
{
    background: #BD5200;
	/* only transition out, not in */
	-webkit-transition: none;
	transition: none;
}

.sf-menu li:hover a, li.userName:hover a {color: #472929;}
.sf-menu li:hover li a, li.userName:hover li a {color: #fff;}
.sf-menu li li:hover,
.sf-menu li li.sfHover {
	background: #472929;
	/* only transition out, not in */
	-webkit-transition: none;
	transition: none;
}

/*** arrows (for all except IE7) **/
.sf-arrows .sf-with-ul {
	padding-right: 2.5em;
	*padding-right: 1em; /* no CSS arrows for IE7 (lack pseudo-elements) */
}
/* styling for both css and generated arrows */
.sf-arrows .sf-with-ul:after {
	content: '';
	position: absolute;
	top: 50%;
	right: 1em;
	margin-top: -3px;
	height: 0;
	width: 0;
	/* order of following 3 rules important for fallbacks to work */
	border: 5px solid transparent;
	border-top-color: #dFeEFF; /* edit this to suit design (no rgba in IE8) */
	border-top-color: rgba(255,255,255,.5);
}
.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
	border-top-color: white; /* IE8 fallback colour */
}
/* styling for right-facing arrows */
.sf-arrows ul .sf-with-ul:after {
	margin-top: -5px;
	margin-right: -3px;
	border-color: transparent;
	border-left-color: #dFeEFF; /* edit this to suit design (no rgba in IE8) */
	border-left-color: rgba(255,255,255,.5);
}
.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
	border-left-color: white;
}
   
									
/*social connect links */

.social-share-container                                 { margin: 0;} 
ul.socialConnect                                        { display: block;margin: 0}
ul.socialConnect li                                     { list-style-type: none; display: block; float: left; padding: 0; }
ul.socialConnect li a                                   { width: 150px; height: 100px; display: block;}
ul.socialConnect li a.socialConnect-twitter  		    { background: #00abe3 url(images/share_twitter_large.png) 0px 0px no-repeat; }
ul.socialConnect li a.socialConnect-facebook  		    { background: #004088 url(images/share_facebook_large.png) 0px 0px no-repeat; }
ul.socialConnect li a.socialConnect-linkedin            { background: #01669c url(images/share_linkedin_large.png) 0px 0px no-repeat; }
ul.socialConnect li a.socialConnect-googleplus          { background: #f14724 url(images/share_google_large.png) 0px 0px no-repeat; }

ul.socialConnect li a.socialConnect-twitter:hover,
ul.socialConnect li a.socialConnect-facebook:hover,
ul.socialConnect li a.socialConnect-linkedin:hover,
ul.socialConnect li a.socialConnect-googleplus:hover    { background-position: 0 -100px;}

/* kickstart specific */
.connect_config                                                 { width: 350px;}
.connect_config .riSingle .riTextBox[type="text"]               { width: 30px !important;}
.connect_config .fundinginput .riSingle .riTextBox[type="text"] { width: 150px !important;}
.connect_incentives                                             { margin-left: 30px; width: 400px;}
.connect_projectConfig                                          { background: #fff; padding: 20px; margin-top: 30px;}
.connect_projectConfig p,
.connect_projectroles p                                         { margin: 15px 0 10px 0;}
.connect_projectConfig .dnnLabel                                { text-align: left !important;}
.connect_projectConfig .dnnFormItem                             { margin-top:10px !important;}
.connect_projectConfig .dnnForm .RadInput_Default               { margin-top: 6px;}

.connect_projectroles, .connect_projectmeter, .connect_projectoptions, .connect_projectmembers             { padding: 20px;}
.connect_projectoptions             { padding: 20px;}
.connect_memberlistsection          { padding: 0 0 20px 0;}
.connect_projectoptions p           { margin: 10px 0 20px 0;}
.connect_projectoptions ul          { list-style-type: none; margin: 0; padding: 0; }
.connect_projectoptions ul li       { list-style-type: none; margin: 0; padding: 0px 0 5px 20px; background: url(images/lstIcon.png) left center no-repeat; }

div.funding-needed                  { margin: 20px 0 10px 0;}
div.funding-reached                 { margin: 20px 0 10px 0;text-align: right;}



/* Profile editing */
/*Photo */
.connect_profile_preview                            { display: block; height: 300px;}
.connect_profile_preview img                        { width: 300px; height: 300px;}
.connect_profile_edit                               { display:none;}
.connect_profiledit.password                        { height: 270px;padding: 30px 0 0 30px;}
#connectEditContainerPhoto                          { padding: 20px 0 20px 20px; background: #fff;}
#connectEditContainerPhoto .dnnFileUploadScope      { background: #fff; width: inherit;}
#connectEditContainerPhoto .dnnLeft                 { clear:both;}

/* password */
span.label                                          { display: block; color: #fff; font-size: 14px; line-height: 35px;}
#showEditPassword                                   { background: url(images/lock_large.png) -30px -30px no-repeat; font-size: 40px; color: #fff; text-decoration: none; vertical-align:bottom; padding: 210px 30px 50px 30px; display: block;}
#connectEditContainerPassword .dnnFormItem input    { width: 90%;}

/* social links */
#connectEditContainerOnTheWeb                       { padding: 20px 10px 20px 20px;}
#connectEditContainerOnTheWeb .dnnFormItem input    { width: 90%;}
#showEditOnTheWeb                                   { background: url(images/ontheweb_large.png) 0px 0px no-repeat; font-size: 40px; color: #fff; text-decoration: none; vertical-align:bottom; padding: 210px 30px 50px 30px; display: block;}

/* common profile */
#connectEditContainerProfile p                      { font-weight: bold; padding: 12px 40px 50px 20px;}
#connectEditContainerProfile select                 { width: 45%;}

/* dnn console module */
.console                                            { width: 100%;height: inherit;background-color: transparent;-moz-box-shadow: 0 0 0 #bbb;-webkit-box-shadow: 0 0 0 #bbb;box-shadow: 0 0 0 #bbb;padding: 0;}
.console .console-none                              { margin: 0;padding: 0; height: 40px;}
.console .console-none h3                           { border-left: none ;margin: 0;padding: 0 0 0 60px;font-size: 16px;color: #fff; line-height: 40px; height: inherit; border-top: none;}
.console .console-none h3:first-child               { border-top: none;}
.console div                                        { width: auto;display: block;float: none;}


.console .console-mouseon                           { background-color: #BD5200;}
.console .active h3                                 { border-left: none; color: #333; background: url(images/marker.png) 20px 8px no-repeat;}

.connectdir_item    {padding: 20px; background: #eee; margin: 0 0 20px 0; border: 1px solid #ddd;}
.connectdir_logo    {float:left; margin: 0 30px 0 0; width: 250px;}
.connectdir_logo img    {padding: 3px; background: #fefefe; border: 1px solid #ccc;}
.connectdir_properties  {float:left; width: 500px;}
.connectdir_properties td { vertical-align: top; padding: 0 20px 0 0;}
.connectdir_areas ul    { padding: 0; margin: 0;}
.connectdir_areas ul li { list-style-type: none; padding: 0; margin: 0 10px 0 0; float:left;}
.connectdir_areasdetail ul  {margin: 30px 0 30px 0;}
.connectdir_areasdetail ul li   { list-style-type: none; padding: 10px 0 0 30px; background: url(images/grant.gif) left 10px no-repeat;}
.connectdir_logo table   {margin: 10px 0 20px 0;}
.connectdir_logo td         {padding: 0 20px 0 0;}

.connectdir_nav {margin: 0; padding:0;}
.connectdir_nav li  { list-style-type: none;}
.connectdir_nav li a    {display: block; padding: 0 0 0 30px;font-size: 16px;color: #fff; line-height: 40px; height: inherit; border-top: none; text-decoration: none;}
.connectdir_nav li a:hover  {background-color: #BD5200;}
.connectdir_nav li a.active  {background-color: #BD5200; color: #333;}

.connectdir_search  {padding: 30px;}
.connectdir_search span {display: block; padding: 10px 0 5px 0;}
.connectdir_search table span {display: inline; padding:0;}
.connectdir_searchinput input   {width: 200px !important;}
.connectdir_searchinput select   {width: 200px !important;}
.connectdir_searchbutton            {padding: 20px 0 20px 0;}
   
.connectdir_searchbar    {background: #38A9FF; margin: 0; padding: 20px 20px 40px 20px;}
.connectdir_searchbar h3    {color: #fff;margin-bottom: 10px}
.connectdir_searchbar input[type="text"] {margin: 0; width: 500px;padding: 9px;background-color: #fff;border: 1px solid #ccc; float:left;}
.connectdir_searchformbutton    {float:right;} 